{% extends 'base.html.twig' %}

{% block title %}Admin login{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="container-fluid form-container">
        <div class="enter-form orange-border-form text-center">
            <form method="post" class="pass">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Вход в админ панель</h1>

                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input" placeholder="Email" required autofocus>

                <input type="password" name="password" id="inputPassword" class="form-control input" placeholder="Password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="enter-links">
                    <button class="b-button-arrow"> Вход
                        <img src="/data/images/tiki.landing/registration/arrow-right.svg" alt="">
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block footer %}{% endblock %}
