{% extends 'base.html.twig' %}

{% block title %}Client login{% endblock %}

{% block content %}
    <div class="container-fluid form-container">
        <div class="enter-form orange-border-form">
            <form method="post" class="pass">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <h3 class="h3 mb-3 font-weight-normal
                text-center orange-border-form-label">
                    Добро пожаловать на платформу Optimus
                </h3>

                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input" placeholder="Email" required autofocus>

                <input type="password" name="password" id="inputPassword" class="form-control input" placeholder="Password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="orange-button-rounded-right orange-button-rounded-right-half-width">
                    Вход
                </button>

                <div class="enter-links">
                    <a href="{{ path('app_register') }}"> Регистрация
                        <img src="https://tiki.business/data/images/tiki.landing/registration/arrow-right.svg" alt="">
                    </a>
                    <a href="{{ path('app_register') }}" class="forgot-password"> Забыли пароль?
                        <img src="https://tiki.business/data/images/tiki.landing/registration/arrow-right.svg" alt="">
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
