<div class="form-group">
    <label for="amount-withdrawal">Сумма вывода</label>
    <input type="number"
           min="{{ onLoadTransferMin }}"
           max="{{ onLoadTransferMax }}"
           class="form-control"
           id="amount-withdrawal"
           name="amount_withdrawal" required>
</div>

<div class="form-group">
    <label for="number">Номер карты</label>
    <input type="text"
           class="form-control"
           id="number"
           name="number" required>
</div>

<div class="form-group">
    <label for="country">Страна</label>
    <select class="form-control" id="country" name="country" required>
        <option value="Russia">Россия</option>
    </select>
</div>

<div class="form-group">
    <label>Тип карты</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="type" id="type1" value="visa" checked required>
        <label class="form-check-label" for="type1">
            Visa
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="type" id="type2" value="mastercard" required>
        <label class="form-check-label" for="type2">
            MasterCard
        </label>
    </div>
</div>