<div class="form-group">
    <label for="amount-withdrawal">Сумма вывода</label>
    <input type="number"
           min="{{ onLoadTransferMin }}"
           max="{{ onLoadTransferMax }}"
           class="form-control"
           id="amount-withdrawal"
           name="amount_withdrawal" required>
</div>

<div class="form-group">
    <label for="number">Номер карты</label>
    <input type="text"
           class="form-control"
           id="number"
           name="number" required>
</div>