.topbar {
  /*height: 129px;*/
}

.sidebar {
  background: #FFB000 !important;
}

@media (min-width: 768px) {
  .sidebar:not(.toggled) {
    width: 270px !important;
    min-width: 270px;
  }
}

@media (min-width: 768px) {
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100% !important;
    text-align: left;
    padding: 1rem 38px;
  }
}

.sidebar .nav-item .nav-link:hover {
  background: rgba(255, 255, 255, 0.33) !important;
}

.sidebar:not(.toggled) .nav-item .nav-link[data-toggle=collapse]::after {
  content: '' !important;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px !important;
  height: 20px !important;
  background: url(../assets/img/icon__nav-link.svg) center / contain no-repeat !important;
}

.sidebar:not(.toggled) .nav-item .nav-link[data-toggle=collapse]:not(.collapsed)::after {
  transform: translateY(-50%) rotate(90deg);
}

.sidebar .nav-item .nav-link span {
  font-size: 14px !important;
  color: #000;
  font-weight: 500;
}

.sidebar:not(.toggled) .nav-item .nav-link span {
  margin-left: 18px;
}

.b-button-toggle {
  border: none;
  margin-top: 80px;
  width: 41px !important;
  height: 41px !important;
  background: url(../assets/img/icon__btn-arrow-l.svg) center no-repeat !important;
}

.b-button-toggle::after {
  display: none;
}

.b-button-toggle:hover {
  background-image: url(../assets/img/icon__btn-arrow-l_h.svg) !important;
}

.sidebar.toggled .b-button-toggle {
  transform: scale(-1);
}
