.b-layout {
  overflow-x: auto;
}

.b-tree {
  position: relative;
}

.b-tree svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.b-branch {
  box-sizing: border-box;
}

.b-branch .b-branch {
  padding-left: 32px;
}

.b-child {
  display: flex;
  align-items: center;
}

.b-child:not(:last-child) {
  margin-bottom: 16px;
}

.b-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  height: 64px;
  background: #fff;
  border: solid 5px gray;
  border-radius: 999px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 11px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
}

.b-tree > .b-branch > .b-child > .b-label {
  min-width: 180px;
  height: 120px;
}

.b-tree > .b-branch > .b-child > .b-branch > .b-child > .b-label {
  min-width: 180px;
  height: 120px;
}

.b-tree > .b-branch > .b-child > .b-branch > .b-child > .b-branch > .b-child > .b-label {
  min-width: 180px;
  height: 120px;
}
