{% extends 'client/base.html.twig' %}

{% block content_row %}
    {% if paymentMethods is defined %}
        {% for key, value in paymentMethods %}
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <h5 class="card-title">
                                    {{ value.label }}
                                </h5>
                                <a href="{{ path('app.client.payment.options_list', {
                                    'product': product.id, 'payment_type': key
                                }) }}"
                                   class="btn btn-primary">К оплате</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if optionsList is defined %}
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        {% include 'client/layouts/payment/type/'~payment_type~'.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block custom_scripts %}
<script>
    $('.crypto-currency-checkbox').change(function () {

        $('#payment-summary-form').attr('hidden', true);
        $('#payment-error-box').attr('hidden', true);

        let walletId = $(this).data('paymentdetail');
        let currencysymbol = $(this).data('currencysymbol');
        let productprice = $(this).data('productprice');
        let activecurrencysign = $(this).data('activecurrencysign');
        let url = 'https://min-api.cryptocompare.com/data/price?fsym='+activecurrencysign+'&tsyms='+currencysymbol+'&api_key=e54717b15ba44f9f1210882e4bd3c921b406925d9844818080f45f3784794337';

        $.ajax({
            method:'get',
            url: url,
            success: function (data) {
                let convertedPrice = productprice * data[currencysymbol];
                console.log(convertedPrice);
                $('#wallet-id-input').val(walletId);
                $('#wallet-id-input-hidden').val(walletId);
                $('#amount-to-pay').val( convertedPrice  + ' ' + currencysymbol);
                $('#amount-to-pay-hidden').val( convertedPrice  + ' ' + currencysymbol);

                $('#payment-summary-form').attr('hidden', false)
            }
        });

    });

</script>
{% endblock %}
