{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <h5 class="card-title">
                            Платеж успешно завершен
                        </h5>
                        <p>Продукт будет доступен вам после проверки платежа</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
