{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="enter-form orange-border-form">
            {{ form_start(registrationForm, {'attr': {'class': 'form-reg'}}) }}

            <h3 class="h3 mb-3 font-weight-normal
                text-center orange-border-form-label">
                Добро пожаловать на платформу Optimus
            </h3>

            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'input'}}) }}

            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input'}}) }}

            <button class="orange-button-rounded-right">Регистрация</button>
            {{ form_end(registrationForm) }}
            <small class="register-small-text">
                Уже есть аккаунт? <a href="{{ path('app_login') }}">Войдите здесь</a>
            </small>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
