{% extends 'client/base.html.twig' %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <table id="user_issues_history" class="table table-bordered dataTable">
                            <thead>
                            <tr>
                                <th>Дата запроса</th>
                                <th>Тема запроса</th>
                                <th>Приоритет запроса</th>
                                <th>Статус запроса</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for issue in issues %}
                                <tr>
                                    <td>{{ issue.createdAt | date }}</td>
                                    <td>{{ issue.title }}</td>
                                    <td>{{ issue.priority }}</td>
                                    <td>{{ (issue.answeredAt) ? 'Отвечен' : 'Ожидает обработки' }}</td>
                                    <td>
                                        <a href="{{ path('app.client.help.view_issue', {'id': issue.id}) }}"
                                           role="button" class="btn btn-success">View issue</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#user_issues_history').DataTable();
        });
    </script>
{% endblock %}