{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-12">
                        <h6 class="card-title">Issue theme:</h6>
                        <p class="card-text">{{ issue.title }}</p>
                        <div class="topbar-divider"></div>
                        <h6 class="card-title">Date of creation:</h6>
                        <p class="card-text">{{ issue.createdAt | date }}</p>

                        <h6 class="card-title">Description:</h6>
                        <p class="card-text">{{ issue.description }}</p>

                        {% if issue.issueAnswer  %}
                            <h6 class="card-title">Answered at:</h6>
                            <p class="card-text">{{ issue.answeredAt | date }}</p>

                            <h6 class="card-title">Issue answer:</h6>
                            <p class="card-text">{{ issue.issueAnswer }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}