<div class="container-fluid bg-container">
    <div class="container">
        <div class="main-block main-banner">
            <h1>
                Бизнес-платформа
                OPTIMUS
            </h1>
            <p>
                Платформа представляет рабочие
                стратегии ведения продаж на популярной
                международной торговой площадке
                <b>Amazon.com</b>. Наши инструменты помогут
                вам достичь финансовой независимости.
            </p>
            <button class="orange-button-rounded-right orange-button-rounded-right-half-width"
                    id="banner-contact-button">
                Бесплатная консультация
            </button>
        </div>
    </div>
</div>