<footer class="b-footer">
    <div class="b-footer__inner">
        <div class="b-footer__row">
            <div class="b-footer__menu">
                <a href="{{ path('app_login') }}" class="b-footer__item">
                    Вход
                </a>
                <a href="{{ path('app_register') }}" class="b-footer__item">
                    Регистрация
                </a>
                <a href="{{ path('app.front.partnership') }}" class="b-footer__item">
                    Сотрудничество
                </a>
                <a href="{{ path('app.front.partnership') }}" class="b-footer__item">
                    Каталог
                </a>
                <a href="{{ path('app.front.faq') }}" class="b-footer__item">
                    FAQ
                </a>
            </div>
        </div>
        <div class="b-footer__copyright">
            <span>© Optimus 2016 - 2019. All Rights Reserved.</span>
            <a href="{{ asset('assets/docs/offer.pdf') }}">Условия платформы Optimus</a>
            <a href="#">Политика конфиденциальности</a>
            <a href="mailto:info@optimusale.ru">info@optimusale.ru</a>
        </div>
    </div>
</footer>