<div class="container reviews-block">
    <div class="text-center">
        <h2>Отзывы</h2>
    </div>

    <div class="forms-flex-row">
        <div>
            <div class="orange-border-form">
                <form method="post" class="pass">
                    {% if error is defined %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <h3 class="h3 mb-3 font-weight-normal
                text-center orange-border-form-label">
                        Добро пожаловать на платформу Optimus
                    </h3>

                    <input type="email" value="" name="email" id="inputEmail" class="form-control input" placeholder="Email" required autofocus>

                    <input type="password" name="password" id="inputPassword" class="form-control input" placeholder="Password" required>

                    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}

                    <button class="orange-button-rounded-right orange-button-rounded-right-half-width">
                        Вход
                    </button>

                    <div class="enter-links">
                        <a href="{{ path('app_register') }}"> Регистрация
                            <img src="https://tiki.business/data/images/tiki.landing/registration/arrow-right.svg" alt="">
                        </a>
                        <a href="{{ path('app_register') }}" class="forgot-password"> Забыли пароль?
                            <img src="https://tiki.business/data/images/tiki.landing/registration/arrow-right.svg" alt="">
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div class="orange-border-form">
                {{ form_start(registrationForm, {'attr': {'class': 'form-reg'}}) }}

                <h3 class="h3 mb-3 font-weight-normal
                text-center orange-border-form-label">
                    Вход на платформу Optimus
                </h3>

                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'input'}}) }}

                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input'}}) }}

                {{ form_label(registrationForm.inviteCode) }}
                {{ form_widget(registrationForm.inviteCode, {'attr': {'class': 'input'}}) }}

                <button class="orange-button-rounded-right">Регистрация</button>
                {{ form_end(registrationForm) }}
                <small class="register-small-text">
                    Уже есть аккаунт? <a href="{{ path('app_login') }}">Войдите здесь</a>
                </small>
            </div>
        </div>
        <div>
            <div class="orange-border-form">
                <form method="post" class="pass">

                    <h3 class="h3 mb-3 font-weight-normal text-center orange-border-form-label">
                        КОНСУЛЬТАЦИЯ
                    </h3>

                    <input type="text" value="" name="name" id="inputName" class="form-control input" placeholder="Имя" required>

                    <input type="text" value="" name="phone" id="inputPhone" class="form-control input" placeholder="Телефон" required>

                    <input type="email" value="" name="email" id="inputEmail" class="form-control input" placeholder="Email" required>

                    <button class="orange-button-rounded-right orange-button-rounded-right-half-width">
                        Отправить
                    </button>

                    <small class="register-small-text">
                        Нажимая на кнопку "Отправить" вы даете согласие <a href="#">на обработку своих персональных данных</a>
                    </small>
                </form>
            </div>
        </div>
    </div>
</div>