<div class="container">
    <div class="info-block principle-block">
        <div class="text-center">
            <h2 class="info-block-label">
                Припцип работы <br /> нейросети OPTIMUS
            </h2>
            <p class="mix-width">
                Уникальная система автоматизированных продаж, разработанная <br>специально для
                плошадки Amazon.com ищет товары, поставщиков, просчитывает логистику, создает
                листинги и ведет продажи. Процесс полностью автоматизирован, происходит практически
                без вашего участия. Гарантируем стабильные доходы уже с первого песяца использования инструмента.
            </p>
            <h3>
                Просто. Прозрачно. Надежно.
            </h3>
        </div>

        <div class="flex">
            <div class="principle">
                <div class="principle-image-wrapper"
                     style="background: url({{ asset('assets/img/product_search.png') }}) no-repeat center center;">
                    <div class="principle-image-wrapper"
                         style="background: url({{ asset('assets/img/arrow-right.svg') }}) no-repeat right;;">
                    </div>
                </div>
                <div class="info">
                    <div class="title">Поиск товара</div>
                </div>
            </div>
            <div class="principle">
                <div class="principle-image-wrapper"
                     style="background: url({{ asset('assets/img/vendor_search.png') }}) no-repeat center center;">
                    <div class="principle-image-wrapper"
                         style="background: url({{ asset('assets/img/arrow-right.svg') }}) no-repeat right;;">
                    </div>
                </div>
                <div class="info">
                    <div class="title">Поиск поставщика</div>
                </div>
            </div>
            <div class="principle">
                <div class="principle-image-wrapper"
                     style="background: url({{ asset('assets/img/buying_goods.png') }}) no-repeat center center;"
                >
                    <div class="principle-image-wrapper"
                         style="background: url({{ asset('assets/img/arrow-right.svg') }}) no-repeat right;;">
                    </div>
                </div>
                <div class="info">
                    <div class="title">Закуп товара</div>
                </div>
            </div>
            <div class="principle">
                <div class="principle-image-wrapper"
                     style="background: url({{ asset('assets/img/logistics.png') }}) no-repeat center center;"
                >
                    <div class="principle-image-wrapper"
                         style="background: url({{ asset('assets/img/arrow-right.svg') }}) no-repeat right;;">
                    </div>
                </div>
                <div class="info">
                    <div class="title">Логистика</div>
                </div>
            </div>
            <div class="principle">
                <div class="principle-image-wrapper"
                     style="background: url({{ asset('assets/img/sale.png') }}) no-repeat center center;"
                >
                </div>
                <div class="info">
                    <div class="title">Продажа</div>
                </div>
            </div>
            {#<div class="principle-line"></div>#}
        </div>
    </div>
</div>
