<div class="b-header__inner">
    <div class="b-header__menu">

        {% set current_path = app.request.get('_route') %}
        {% set current_locale = app.request.locale | upper %}
        {% set locale_label = locale %}

        {% set app_locales_arr = app_locales | split('|') %}
        {% set system_locale = locale | upper %}

        {% if current_locale == system_locale %}
            {% for app_locale in app_locales_arr %}
                {% if current_locale != app_locale %}
                    {% set locale_label = app_locale %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% set login_href = '#' %}
        {% set login_rel = '' %}
        {% set register_rel = '' %}


        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% set login_button_label = 'menu.admin_panel' | trans %}
            {% set login_href = path('easyadmin') %}

            {% set register_button_label = 'menu.logout' | trans %}
            {% set register_href = path('app_logout') %}
        {% elseif is_granted('ROLE_CLIENT') %}
            {% set login_button_label = 'menu.client_panel' | trans %}
            {% set login_href = path('app.client.personal_info.common_info') %}

            {% set register_button_label = 'menu.logout' | trans %}
            {% set register_href = path('app_logout') %}
        {% else %}
            {% set login_button_label = 'menu.login' | trans %}
            {% set login_href = '#login-modal' %}
            {% set login_rel = 'modal:open' %}

            {% set register_button_label = 'menu.registration' | trans %}
            {% set register_href = '#register-modal' %}
            {% set register_rel = 'modal:open' %}

        {% endif %}
        {#<p><a href="#login-modal" rel="modal:open">Open Modal</a></p>#}

        <a role="button" class="b-header__item" href="{{ login_href }}" rel="{{ login_rel }}">
            {{ login_button_label }}
        </a>
        <a role="button" class="b-header__item" href="{{ register_href }}" rel="{{ register_rel }}">
            {{ register_button_label }}
        </a>
        <a href="{{ path('app.front.partnership') }}" class="b-header__item">
            {{ 'menu.partnership' | trans }}
        </a>
    </div>
    <div class="b-header__menu">
        <a href="{{ path('app.front.catalog') }}" class="b-header__item">
            {{ 'menu.catalog' | trans }}
        </a>

        <a href="{{ path('app.front.faq') }}" class="b-header__item">
            FAQ
        </a>

        <a role="button" class="b-header__item _lang" href="{{ path(current_path, {'_locale': locale_label | lower}) }}">
            {% if current_locale == system_locale %}
                {% for app_locale in app_locales_arr %}
                    {% if current_locale != app_locale %}
                        {% set locale_label = app_locale %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {{ locale_label }}
        </a>
    </div>
    <a href="{{ path('app.front.index') }}" class="b-header__logo router-link-exact-active router-link-active"></a>
</div>

<div id="login-modal" class="modal">
    <form action="{{ path('app_login') }}" method="post">
        <div class="b-form">
            <div class="b-form__inner">
                <h2 class="b-text _s_md _ta_c _mb">
                    Вход на платформу OPTIMUS
                </h2>
                <form class="b-form__container">
                    <div class="b-form__row">
                        <input class="b-input"
                               type="email"
                               placeholder="Логин"
                               name="email"
                               id="inputEmail"
                               required>
                    </div>
                    <div class="b-form__row">
                        <input
                                class="b-input"
                                type="password"
                                placeholder="Пароль"
                                name="password"
                                id="inputPassword"
                                required
                        >
                        <a href="{{ path('app.client.reset_password') }}" class="b-button-link">Забыли пароль?</a>
                    </div>
                    <div class="b-form__row">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="b-form__row">
                        <button
                                class="b-button-arrow"
                                type="submit"
                        >Войти</button>
                    </div>
                    <div class="b-form__row">
                        <a class="b-button-link" role="button" href="#register-modal" rel="modal:open">Регистрация</a>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>

<div id="register-modal" class="modal">
    <div class="b-form">
        <div class="b-form__inner">
            <h2 class="b-text _s_md _ta_c _mb">
                Добро пожаловать<br>
                в команду OPTIMUS
            </h2>
            <form class="b-form__container" name="registration_form" method="post" action="{{ path('app_register') }}">
                <div class="b-form__row">
                    <input  id="registration_form_email" name="registration_form[email]" required="required"
                            class="b-input"
                            type="email"
                            placeholder="Эл. почта">
                </div>
                <div class="b-form__row">
                    <input  id="registration_form_plainPassword" name="registration_form[plainPassword]" required="required"
                            class="b-input"
                            type="password"
                            placeholder="Пароль"
                    >
                </div>
                <div class="b-form__row">
                    <button
                            class="b-button-arrow"
                            type="submit"
                    >Регистрация</button>
                </div>
                <div class="b-form__row">
                    <a class="b-button-link"
                            role="button"
                            href="#login-modal" rel="modal:open">
                        Уже есть аккаунт?
                    </a>
                </div>
                <div class="b-form__row">
                    <p class="b-form__text">
                        Нажимая «Зарегистрироваться»,<br>
                        я принимаю условия платформы Optimus.
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
