<div class="container">
    <div class="principle-block">
        <div class="product-flex-grid text-center">
            {% for product in optimusAiProducts %}
                <div class="product-flex-col">
                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}">
                </div>
            {% endfor %}

            {% for product in onlineEducationProducts %}
                <div class="product-flex-col">
                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>