<div class="container-fluid product-carousel-block">
    <div class="slider-box" id="slider-box">
        <div class="content-box" id="content">
            <h2 class="content-box-title">
                Ассортимент продуктов
            </h2>
            <div class="content-box-body">
                <p>
                    Нейросеть ОПТИМУС обеспечит вам
                    постоянынй доход за счет уникального
                    алгоритма ведения бизнеса
                </p>
                <br />
                <p>
                    Образовательные курсы по запуску своего бизнеса
                    на торговой площадке amazon.com.
                    Разработаны уникальны методики ведения продаж и проверенные
                    на личном опыте
                </p>
            </div>
        </div>
        <div class="content-box" id="slider">
            <div class="w3-bar w3-transparent product-slider-tab-bar">
                <button class="w3-bar-item w3-button switch-tab active-tab"
                        id="optimus_ai_tab"
                        data-tabid="optimus_ai"
                        data-carouselbegin="0"
                >
                    <img src="{{ asset('assets/img/optimus_ai_tab_label.png') }}"
                         class="switch-tab-image"
                    > Нейросеть
                </button>
                <button class="w3-bar-item w3-button switch-tab"
                        id="online_education_tab"
                        data-tabid="online_education"
                        data-carouselbegin="{{ optimusAiProductsCount }}"
                >
                    <img src="{{ asset('assets/img/online_education_tab_label.png') }}"
                         class="switch-tab-image"
                    > Образование
                </button>
            </div>
            <div class="product-slider">
                {% for product in products %}
                    {% include 'front/partials/product_slide.html.twig' with {
                        'product': product
                    } %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="slider-box" id="product-sign-box">
        <div class="content-box" id="product-label-box">
            <h1 class="slider-product-name-label" id="main-page-product-slider-label">
                {{ productName }}
            </h1>
        </div>
    </div>
</div>