<div class="single-product-slide"
     data-section="{{ product.tradingType }}"
     data-productname="{{ product.name }}"
>
    <div class="single-slide-photo">
        <img src="{{ vich_uploader_asset(product, 'imageFile') }}">
    </div>
    <div class="single-slide-descr">
        <div class="title">
            {{ product.name }}
        </div>
        <div class="sub-title">
            Что входит в {{ product.name }}:
        </div>
        <div class="options-block">
          {{ product.description }}
        </div>
        <div class="order-button-block">
            <div>
                <button class="order-button" style="width: 100%;">Заказать</button>
            </div>

            <div class="text-center price-block">
                <label class="price-label">
                    Стоимость
                </label>
                <p class="price">
                    {{ product.price | get_price_with_currency_sign }}
                </p>
            </div>
        </div>
    </div>
</div>