<div class="container reviews-block">
    <div class="text-center">
        <h2>Отзывы</h2>
    </div>

    <div class="slider-block">
        <div class="slider-wrapper">
            {% include 'front/partials/reviews_slider.html.twig' %}
        </div>
    </div>
</div>