<div class="reviews-slider">
    <div class="single-review-slider">
        <img src="http://placehold.it/80x80">
        <h4>
            Alexander75
        </h4>
        <h5>
            20.09.2019
        </h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed varius justo auctor libero mollis, eget sagittis eros porttitor.
            Integer quis blandit velit. Aenean lacinia ac justo non malesuada.
            Sed a ipsum eget arcu porta imperdiet. Proin dignissim ex id pretium lobortis.
            Vestibulum augue enim, blandit quis euismod non, vulputate eget purus.
            Donec scelerisque ac eros eget dictum. Nulla facilisi.
            Aenean sed convallis nibh. Nulla gravida vel quam eu molestie.
        </p>
    </div>
    <div class="single-review-slider">
        <img src="http://placehold.it/80x80">
        <h4>
            Alexander75
        </h4>
        <h5>
            20.09.2019
        </h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed varius justo auctor libero mollis, eget sagittis eros porttitor.
            Integer quis blandit velit. Aenean lacinia ac justo non malesuada.
            Sed a ipsum eget arcu porta imperdiet. Proin dignissim ex id pretium lobortis.
            Vestibulum augue enim, blandit quis euismod non, vulputate eget purus.
            Donec scelerisque ac eros eget dictum. Nulla facilisi.
            Aenean sed convallis nibh. Nulla gravida vel quam eu molestie.
        </p>
    </div>
    <div class="single-review-slider">
        <img src="http://placehold.it/80x80">

        <h4>
            Alexander75
        </h4>
        <h5>
            20.09.2019
        </h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed varius justo auctor libero mollis, eget sagittis eros porttitor.
            Integer quis blandit velit. Aenean lacinia ac justo non malesuada.
            Sed a ipsum eget arcu porta imperdiet. Proin dignissim ex id pretium lobortis.
            Vestibulum augue enim, blandit quis euismod non, vulputate eget purus.
            Donec scelerisque ac eros eget dictum. Nulla facilisi.
            Aenean sed convallis nibh. Nulla gravida vel quam eu molestie.
        </p>
    </div>
    <div class="single-review-slider">
        <img src="http://placehold.it/80x80">

        <h4>
            Alexander75
        </h4>
        <h5>
            20.09.2019
        </h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed varius justo auctor libero mollis, eget sagittis eros porttitor.
            Integer quis blandit velit. Aenean lacinia ac justo non malesuada.
            Sed a ipsum eget arcu porta imperdiet. Proin dignissim ex id pretium lobortis.
            Vestibulum augue enim, blandit quis euismod non, vulputate eget purus.
            Donec scelerisque ac eros eget dictum. Nulla facilisi.
            Aenean sed convallis nibh. Nulla gravida vel quam eu molestie.
        </p>
    </div>
    <div class="single-review-slider">
        <img src="http://placehold.it/80x80">

        <h4>
            Alexander75
        </h4>
        <h5>
            20.09.2019
        </h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed varius justo auctor libero mollis, eget sagittis eros porttitor.
            Integer quis blandit velit. Aenean lacinia ac justo non malesuada.
            Sed a ipsum eget arcu porta imperdiet. Proin dignissim ex id pretium lobortis.
            Vestibulum augue enim, blandit quis euismod non, vulputate eget purus.
            Donec scelerisque ac eros eget dictum. Nulla facilisi.
            Aenean sed convallis nibh. Nulla gravida vel quam eu molestie.
        </p>
    </div>
    <div class="single-review-slider">
        <img src="http://placehold.it/80x80">

        <h4>
            Alexander75
        </h4>
        <h5>
            20.09.2019
        </h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed varius justo auctor libero mollis, eget sagittis eros porttitor.
            Integer quis blandit velit. Aenean lacinia ac justo non malesuada.
            Sed a ipsum eget arcu porta imperdiet. Proin dignissim ex id pretium lobortis.
            Vestibulum augue enim, blandit quis euismod non, vulputate eget purus.
            Donec scelerisque ac eros eget dictum. Nulla facilisi.
            Aenean sed convallis nibh. Nulla gravida vel quam eu molestie.
        </p>
    </div>
</div>
<div class="pagingInfo"></div>
