<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="1920px" height="7287px" viewBox="0 0 1920 7287" enable-background="new 0 0 1920 7287" xml:space="preserve">
    {% include 'front/svg_img/'.image.'.html.twig' %}
</svg>