<div class="col-sm-12">
    {% for option in optionsList %}
        <div class="form-check">
            <input class="form-check-input crypto-currency-checkbox"
                   type="radio"
                   name="{{ payment_type }}"
                   id="{{ option.name }}"
                   value="{{ option.symbol }}"
                   data-paymentdetail="{{ option.walletId }}"
                   data-currencyname="{{ option.name }}"
                   data-currencysymbol="{{ option.symbol }}"
                   data-productprice="{{ product.price }}"
                   data-activecurrencysign="{{ activeCurrency.sign }}"
            >
            <label class="form-check-label" for="{{ option.name }}">
                {{ option.name }}
            </label>
        </div>
    {% endfor %}
</div>
<div class="col-xl-12 col-md-12 mb-12">
    <form id="payment-summary-form" hidden
          method="post"
          action="{{ path('app.client.marketing.starting_packages.submit_payment', {
              'product': product.id,
              'payment_type': payment_type
          }) }}">
        <div class="form-group">
            <label>Номер кошелька</label>
            <input class="form-control" value="" id="wallet-id-input" disabled>
            <input class="form-control" value="" id="wallet-id-input-hidden" name="wallet-id-input" hidden>
        </div>
        <div class="form-group">
            <label>К оплате</label>
            <input class="form-control" value="" id="amount-to-pay" disabled>
            <input class="form-control" value="" id="amount-to-pay-hidden" name="amount-to-pay" hidden>
        </div>
        <div class="form-group">
            <label>После завершения оплаты нажмите кнопку "Готово"</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                Готово
            </button>
        </div>
    </form>

    <div class="alert alert-warning" id="payment-error-box" hidden>
        При обработке выбранной валюты возникла ошибка,
        попрбуйте заплатить другой валютой или повторите попытку оплаты позже
    </div>
</div>