<div class="col-sm-12">
    <table class="table">
        <thead>
            <th>Платежный метод</th>
            <th>Реквизиты</th>
            <th></th>
        </thead>
        <tbody>
        {% for option in optionsList %}
            <tr>
                <td>{{ option.name }}</td>
                <td>{{ option.requisites }}</td>
                <td>
                    <form id="payment-summary-form"
                          method="post"
                          action="{{ path('app.client.marketing.starting_packages.submit_payment', {
                              'product': product.id,
                              'payment_type': payment_type
                          }) }}">
                        <input class="form-control" value="{{ product.price }}" id="amount-to-pay-hidden" name="amount-to-pay" hidden>

                        <button class="btn btn-success" type="submit">
                            Купить
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>