<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название сети</th>
        <th scope="col">Активная ветвь</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% if userNetworks is not empty %}
        {% for userNetwork in userNetworks %}
            <tr>
                <th scope="row">{{ userNetwork.id }}</th>
                <td>{{ userNetwork.name }}</td>
                <td>{{ userNetwork.activeBranch }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('app.client.marketing.edit_network', {'userNetwork': userNetwork.id}) }}"
                           role="button"
                           class="btn btn-primary">
                            Изменить настройки сети
                        </a>
                        <a href="{{ path('app.client.marketing.binary_network', {'userNetwork': userNetwork.id}) }}"
                           role="button"
                           class="btn btn-primary">
                            Перейти к бинарной сети
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if participantUserNetworks is not empty %}
        {% for userNetwork in participantUserNetworks %}
            <tr>
                <th scope="row">{{ userNetwork.id }}</th>
                <td>{{ userNetwork.name }}</td>
                <td>{{ userNetwork.activeBranch }}</td>
                <td>
                    <a href="{{ path('app.client.marketing.binary_network', {'userNetwork': userNetwork.id}) }}"
                       role="button"
                       class="btn btn-primary">
                        Перейти к бинарной сети
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>