<ul>
    {% for treeNode in binaryTree %}
        {% if treeNode.invitedBy.id == treeTopNode.id %}
            <li>
                <a href="#">
                    {{ treeNode.treeMember.id }} {% if app.user.id == treeNode.treeMember.id %}(Вы){% endif %}
                </a>
                {% include 'client/partials/binary_tree/tree.html.twig' with {
                    'treeTopNode': treeNode.treeMember,
                    'binaryTree': binaryTree
                }%}
            </li>
        {% endif %}
    {% endfor %}
</ul>