<div class="tree">
    <ul>
        <li>
            <a href="#">
                {{ treeTopNode.id }} {% if app.user.id == treeTopNode.id %}(Вы){% endif %}
            </a>
            {% include 'client/partials/binary_tree/tree.html.twig' with {
                'treeTopNode': treeTopNode,
                'binaryTree': binaryTree
            }%}
        </li>
    </ul>
</div>