<!-- Tree -->

<div class="b-layout">
    <div class="b-tree">
        <div class="b-branch">
            <div class="b-child">
                <span class="b-label">1</span>

                <div class="b-branch">
                    <div class="b-child">
                        <span class="b-label">1.1</span>

                        <div class="b-branch">
                            <div class="b-child">
                                <span class="b-label">1.1.1</span>

                                <div class="b-branch">
                                    <div class="b-child">
                                        <span class="b-label">1.1.1.1</span>
                                    </div>

                                    <div class="b-child">
                                        <span class="b-label">1.1.1.2</span>
                                    </div>
                                </div>
                            </div>

                            <div class="b-child">
                                <span class="b-label">1.1.2</span>

                                <div class="b-branch">
                                    <div class="b-child">
                                        <span class="b-label">1.1.2.1</span>

                                        <div class="b-branch">
                                            <div class="b-child">
                                                <span class="b-label">x</span>

                                                <div class="b-branch">
                                                    <div class="b-child">
                                                        <span class="b-label">x</span>

                                                        <div class="b-branch">
                                                            <div class="b-child">
                                                                <span class="b-label">x</span>
                                                            </div>

                                                            <div class="b-child">
                                                                <span class="b-label">x</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="b-child">
                                                        <span class="b-label">x</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="b-child">
                                                <span class="b-label">x</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="b-child">
                                        <span class="b-label">1.1.2.2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="b-child">
                        <span class="b-label">1.2</span>

                        <div class="b-branch">
                            <div class="b-child">
                                <span class="b-label">1.2.1</span>

                                <div class="b-branch">
                                    <div class="b-child">
                                        <span class="b-label">1.2.1.1</span>
                                    </div>

                                    <div class="b-child">
                                        <span class="b-label">1.2.1.2</span>
                                    </div>
                                </div>
                            </div>

                            <div class="b-child">
                                <span class="b-label">1.2.2</span>

                                <div class="b-branch">
                                    <div class="b-child">
                                        <span class="b-label">1.2.2.1</span>
                                    </div>

                                    <div class="b-child">
                                        <span class="b-label">1.2.2.2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>