{% extends 'client/base.html.twig' %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <table id="user_logins_history" class="table table-bordered dataTable">
                            <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Метод вывода</th>
                                <th>Выведенная сумма</th>
                                <th>Cумма комиссии</th>
                                <th>Дата заявки</th>
                                <th>Статус заявки</th>
                                <th>Сумма перед операцией</th>
                                <th>Сумма после операции</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for withdrawalRequest in withdrawalRequests %}
                                {% set requestStatus = withdrawalRequest.requestStatus %}
                                {% set currencySign = withdrawalRequest.userAccount.account.currency.sign %}

                                <tr>
                                    <td>{{ withdrawalRequest.id }}</td>
                                    <td>{{ withdrawalRequest.transferMethod.name }}</td>
                                    <td>{{ withdrawalRequest.requestedAmount }} {{ currencySign }}</td>
                                    <td>{{ withdrawalRequest.blockedAmount }} {{ currencySign }}</td>
                                    <td>{{ withdrawalRequest.requestDate | date}}</td>
                                    <td>
                                        {% if requestStatus is null %}
                                            В рассмотрении
                                            {% elseif requestStatus == 1 %}
                                            Одобрена
                                            {% else %}
                                            Отклонена
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ withdrawalRequest.amountBeforeOperation }} {{ currencySign }}
                                    </td>
                                    <td>
                                        {{ withdrawalRequest.amountAfterOperation }} {{ currencySign }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#user_logins_history').DataTable();
        } );
    </script>
{% endblock %}