{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        {% if isUserVerified(app.user) %}
                        <form method="post" action="{{ path('app.client.withdrawal.submit') }}" id="transfer-money-request-form">
                           <div class="form-group">
                               <label for="account">Выберите счет</label>
                               <select class="form-control" name="account" id="account">
                                   <option disabled>Выберите счет</option>
                                   {% for userAccount in userAccounts %}
                                       <option value="{{ userAccount.id }}" data-selectedaccountbalance="{{ userAccount.balance }}">{{ userAccount.account ~'('~userAccount.balance|get_price_with_currency_sign~')' }}</option>
                                   {% endfor %}
                               </select>
                           </div>
                           <div class="form-group">
                               <label>Выберите метод вывода</label>
                               {% set onLoadTransferType = '' %}
                               {% set onLoadTransferMin = '' %}
                               {% set onLoadTransferMax = '' %}

                               {% for transferMethod in transferMethods %}
                                   {% if loop.index == 1 %}
                                       {% set onLoadTransferType = transferMethod.type %}

                                       {% if transferMethod.minimumAmount %}
                                           {% set onLoadTransferMin = transferMethod.minimumAmount %}
                                       {% endif %}

                                       {% if transferMethod.maximumAmount %}
                                           {% set onLoadTransferMax = transferMethod.maximumAmount %}
                                       {% endif %}

                                   {% endif %}
                                   <div class="form-check">
                                       <input class="form-check-input transfer-method-toggle"
                                              data-transfertype="{{ transferMethod.type }}"
                                              data-ajaxmethod="{{ path('app.client.ajax.load_transfer_method_form') }}"
                                              type="radio" name="transferMethod" id="transferMethod-{{ transferMethod.id }}"
                                              value="{{ transferMethod.id }}" {% if loop.index == 1 %}checked{% endif %}>
                                       <label class="form-check-label" for="transferMethod-{{ transferMethod.id }}">
                                           {{ transferMethod.name }}
                                       </label>
                                   </div>
                                   <ul class="list-unstyled">
                                       {% if transferMethod.minimumAmount %}
                                        <ol>Минимум: {{ transferMethod.minimumAmount }}</ol>
                                       {% endif %}
                                       {% if transferMethod.maximumAmount %}
                                           <ol>Максимум: {{ transferMethod.maximumAmount }}</ol>
                                       {% endif %}
                                       {% if transferMethod.transactionFee %}
                                           <ol>Комиссия: {{ transferMethod.transactionFee }}%</ol>
                                       {% endif %}
                                   </ul>
                               {% endfor %}
                           </div>
                           <section id="transfer-method-form">
                               {% if onLoadTransferType %}
                                   {% include 'client/partials/transfer_method/'~onLoadTransferType~'.html.twig' %}
                               {% else %}
                                   {% include 'client/partials/transfer_method/default.html.twig' %}
                               {% endif %}
                           </section>
                           <button class="btn btn-success" type="submit">Отправить запрос</button>
                       </form>
                        {% else %}
                            <div class="alert alert-warning">
                                <p>
                                    Вы должны верифицировать свой аккаунт чтобы выводить средства
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>

        $('#transfer-money-request-form').submit(function (e) {
            let accountSelector = $('#account');
            let selectedAccountAmount = $(accountSelector).find(':selected').data('selectedaccountbalance');
            let amountWithdrawal = parseFloat($('#amount-withdrawal').val());
            let transferFee = $('.transfer-method-toggle[name="transferMethod"]:checked').val();

            //TODO: update transfer fee calc method
            let amountToBlock = ((transferFee/100) * amountWithdrawal) + amountWithdrawal;

            if (amountToBlock > selectedAccountAmount) {
                alert('Сумма вывода превышает сумму на вашем счету. Выберите другой счет или меньшую сумму');
                e.preventDefault();
            }
        });

        $('.transfer-method-toggle').on('change', function (e) {
            let url = $(this).data('ajaxmethod');
            let transferType = $(this).data('transfertype');
            let sectionForm = $('#transfer-method-form');
            $(sectionForm).empty();

            $.ajax({
                url: url,
                method: 'get',
                data: {
                    transferType: transferType
                },
                success: function (data) {
                    $(sectionForm).empty().append(data);
                }
            })
        })
    </script>
{% endblock %}