<tr>
    <th>Не добавленные в сеть:</th>
    <td>
        <form action="{{ path('app.admin.add_user_to_referral_network') }}"
              method="post"
              data-activebranch="{{ userNetwork.activeBranch }}"
              id="add-user-to-tree-form">
            <label>
                Выберите пользователя
                <br>
                чтобы добавить его в сеть
            </label>
            <ul class="list-unstyled">
                {% for notInNetworkUser in notInNetworkUsers %}
                    <li><input type="radio" name="tree_member_id" value="{{ notInNetworkUser.id }}" required>{{ notInNetworkUser.email }}</li>
                {% endfor %}
                <li style="border-top: 1px solid">
                    <label for="node_before_selector">Выберите куда разместить пользователя</label>
                    <select name="user_id_before" id="node_before_selector">
                        <option value="{{ userNetwork.user.id }}"
                                selected>{{ userNetwork.user.email }} ({{ userNetwork.user.id }})</option>
                        {% for userInNetwork in invitedUsersInNetwork %}
                            <option value="{{ userInNetwork.treeMember.id }}">{{ userInNetwork.treeMember.email }} ({{ userInNetwork.treeMember.id }})</option>
                        {% endfor %}
                    </select>
                </li>
                <input type="text" hidden value="{{ user.id }}" name="invited_by_id">
                <input type="text" hidden value="{{ userNetwork.id }}" name="user_network_id">
            </ul>
            <button class="btn btn-primary" type="submit">Добавить пользователя</button>
        </form>
    </td>
</tr>