<div class="b-branch">
    {% set topBranchItems = [] %}
    {% set bottomBranchItems = [] %}
    {% for treeNode in userNetworkBinaryTree %}
        {% if treeNode.treeBranch == 'top' %}
            {% set topBranchItems = topBranchItems | merge([treeNode])  %}
        {% endif %}

        {% if treeNode.treeBranch == 'bottom' %}
            {% set bottomBranchItems = bottomBranchItems | merge([treeNode])  %}
        {% endif %}
    {% endfor %}

    {% for item in topBranchItems %}
        {% if item.userIdBefore == nodeIdBefore %}
            <div class="b-child">
                <span class="b-label" data-branch="{{ item.treeBranch }}" data-nodeid="{{ item.treeMember.id }}">
                    id: {{ item.treeMember.id }}&nbsp;<span class="fa fa-trash remove-node"
                                                            data-url="{{ path('app.admin.user_referral_network.remove_user_from_network') }}"
                                                            data-nodeid="{{ item.treeMember.id }}"
                                                            data-networkid="{{ item.userNetwork.id }}"
                                                            data-networkownerid="{{ item.userNetwork.user.id }}"></span>
                </span>
                {% include 'admin/binary_network/branch_tpl.html.twig' with {
                    'userNetwork': userNetwork,
                    'userNetworkBinaryTree': userNetworkBinaryTree,
                    'notInNetworkUsers': notInNetworkUsers,
                    'nodeIdBefore': item.treeMember.id
                } %}
            </div>
        {% endif %}
    {% endfor %}

    {% for item in bottomBranchItems %}
        {% if item.userIdBefore == nodeIdBefore %}
            <div class="b-child">
                <span class="b-label" data-branch="{{ item.treeBranch }}" data-nodeid="{{ item.treeMember.id }}">
                    id: {{ item.treeMember.id }}&nbsp;<span class="fa fa-trash remove-node"
                                                            data-url="{{ path('app.admin.user_referral_network.remove_user_from_network') }}"
                                                            data-nodeid="{{ item.treeMember.id }}"
                                                            data-networkid="{{ item.userNetwork.id }}"
                                                            data-networkownerid="{{ item.userNetwork.user.id }}"></span>
                </span>

                {% include 'admin/binary_network/branch_tpl.html.twig' with {
                    'userNetwork': userNetwork,
                    'userNetworkBinaryTree': userNetworkBinaryTree,
                    'notInNetworkUsers': notInNetworkUsers,
                    'nodeIdBefore': item.treeMember.id
                } %}
            </div>
        {% endif %}
    {% endfor %}
</div>