{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Бинарная система клиента #{{ user.id }} ({{ user.email }}){% endblock %}


{% block main %}
    <div class="row">
        <div class="col-6">
            <table class="table table-light">
                <tbody>
                <tr>
                    <th>Активная ветка:</th>
                    <td>{{ userNetwork.activeBranch }}</td>
                </tr>
                {% if notInNetworkUsers is not empty %}
                    {% include 'admin/binary_network/add_user_to_tree_form.html.twig' %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <div class="b-layout">
                <div class="b-tree">

                    <div class="b-branch">
                        <div class="b-child">
                            <span class="b-label">id:{{ userNetwork.user.id }}</span>
                            {% include 'admin/binary_network/branch_tpl.html.twig' with {
                                'userNetwork': userNetwork,
                                'userNetworkBinaryTree': userNetworkBinaryTree,
                                'notInNetworkUsers': notInNetworkUsers,
                                'nodeIdBefore': userNetwork.user.id
                            }%}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        $('.remove-node').on('click', function (e) {
            let nodeId = $(this).data('nodeid');
            let networkid = $(this).data('networkid');
            let networkownerid = $(this).data('networkownerid');
            let url = $(this).data('url');

            $.ajax({
                method: 'post',
                url: url,
                data: {
                    nodeId: nodeId,
                    networkid: networkid,
                    networkownerid: networkownerid
                },
                success: function (data) {
                    window.location.replace(data);
                }
            });
        })
    </script>
{% endblock %}
