<template>
    <section class="b-catalog-full">
        <div class="b-catalog-full__inner">
            <products size="full" button-link=""></products>
        </div>
    </section>
</template>

<script>
    import Products from './Products';
    export default {
        name: "catalog",
        props: ['partnershipLink'],
        components: {
            Products,
        },
    };
</script>