<template>
    <div class="b-products">
        <nav class="b-products__nav"
             :class="{'_wide': size === 'full'}"
        >
            <button
                    class="b-products__sort _neural-network"
                    :class="{'_current': current_index < second_block_index}"
                    type="button"
                    @click="goto(0)"
            >
                <span>Нейросеть</span>
            </button>
            <div class="b-products__sort-divider"></div>
            <button
                    class="b-products__sort _education"
                    :class="{'_current': current_index >= second_block_index}"
                    type="button"
                    @click="goto(second_block_index)"
            >
                <span>Образование</span>
            </button>
        </nav>

        <div class="b-products__card">
            <div v-if="size === 'full'"
                 class="b-product__background"
            ></div>
            <div v-for="(item, index) of products"
                 class="b-product"
                 :key="index"
                 v-if="index === current_index"
            >
                <div class="b-product__slider"
                     :class="{'_wide': size === 'full'}"
                >
                    <div class="b-product__image"
                         :class="[`_${item.name}`, size === 'full' ? '_clean' : '']"
                    >
                        <div class="b-product__arrows">
                            <button
                                    class="b-button-icon _arrow-left"
                                    type="button"
                                    @click="goto(-1, true)"
                            ></button>
                            <button
                                    class="b-button-icon _arrow-right"
                                    type="button"
                                    @click="goto(1, true)"
                            ></button>
                        </div>
                    </div>
                    <aside class="b-product__sidebar"
                           :class="{'_wide': size === 'full'}"
                    >
                        <div class="b-sidebar__row">
                            <div class="b-text _s_lg">
                                {{item.label}}
                            </div>
                        </div>
                        <div class="b-sidebar__row">
                            <p class="b-text _s_md _fw_md">
                                Что входит:
                            </p>
                            <table v-if="item.sidebar_table"
                                   class="b-product__table"
                            >
                                <tr v-for="(r, index) of item.sidebar_table"
                                    :key="index"
                                >
                                    <td v-html="r.label"></td>
                                    <td v-html="r.value"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="b-sidebar__row">
                            <div class="b-cols _mt">
                                <div class="b-col">
                                    <a role="button" style="text-decoration: none;"
                                            class="b-button-order"
                                       href="#order-modal" rel="modal:open"
                                    >
                                        Заказать
                                    </a>
                                </div>
                                <div v-if="item.price"
                                     class="b-col"
                                >
                                    <span>Стоимость</span><br>
                                    <span class="b-text _s_lg _fw_md">{{item.price}}</span>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div v-if="size === 'full' && item.description" class="b-product__description">
                    <div class="b-text _max-width_lg _s_md">
                        <p class="b-title _s_md">
                            Описание продукта
                        </p>
                        <div v-html="item.description.a"></div>
                        <div class="b-row">
                            <a class="b-button-arrow" v-bind:href="buttonLink" href="partnership">
                                Сотрудничество
                            </a>
                        </div>
                        <div v-html="item.description.b"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "products",
        props: [
            'size', 'buttonLink'
        ],
        data() {
            return {
                current_index: 0,
                second_block_index: 3,
                products: [
                    {
                        name: 'expert',
                        label: 'Expert',
                        price: '3 000 $',
                        sidebar_table: [
                            {
                                label: 'Количество товаров:',
                                value: '2—4',
                            },
                            {
                                label: 'Срок аренды нейросети:',
                                value: '12 месяцев',
                            },
                            {
                                label: 'Средний профит в месяц:',
                                value: '8—9%',
                            },
                        ],
                        description: {
                            a: `
<p>E&nbsp;X&nbsp;P E&nbsp;R&nbsp;T&nbsp;&mdash; 3000$ цена продукта</p>
<p>Количество товаров: 2&nbsp;&mdash; 4 </p>
<p>В&nbsp;представленном пакете нейросеть подбирает для вас от&nbsp;2&nbsp;до&nbsp;4&nbsp;товаров для успешной торговли на&nbsp;Amazon.com
Производство товара и&nbsp;доставка из&nbsp;Китая в&nbsp;Америку занимает от&nbsp;15-30 дней</p>
<p>Как только товар окажется на&nbsp;складе Амазон нейросеть начинает выставлять продукцию на&nbsp;продажу. </p>
<p>Первая выплата выплачивается на&nbsp;35-45 день с&nbsp;момента оплаты продукта. В&nbsp;дальнейшем выплата формируется 25-30 числа каждого месяца</p>
<p>Ваш депозит постоянно находится в&nbsp;обороте на&nbsp;закупке товаров что позволяет сохранить и&nbsp;приумножить ваши деньги.</p>
<p>За&nbsp;всем процессом можно следить из&nbsp;личного кабинета.</p>
<p>ПРОСТО. ПРОЗРАЧНО. НАДЕЖНО.</p>
              `,
                            b: `
\<p>Личное приглашение&nbsp;10% от&nbsp;цены проданного продукта</p>
<p>Командный бонус&nbsp;7% от&nbsp;меньшей цены из&nbsp;сформированной пары</p>
              `,
                        },
                    },
                    {
                        name: 'middle',
                        label: 'Middle',
                        price: '2 000 $',
                        sidebar_table: [
                            {
                                label: 'Количество товаров:',
                                value: '1—3',
                            },
                            {
                                label: 'Срок аренды нейросети:',
                                value: '12 месяцев',
                            },
                            {
                                label: 'Средний профит в месяц:',
                                value: '6—7%',
                            },
                        ],
                        description: {
                            a: `
<p>M&nbsp;I&nbsp;D&nbsp;D&nbsp;L&nbsp;E&nbsp;&mdash; 2000$ цена продукта</p>
<p>Количество товаров: 2&nbsp;&mdash; 3</p>
<p>В&nbsp;представленном пакете нейросеть подбирает для вас от&nbsp;2&nbsp;до&nbsp;3&nbsp;товаров для успешной торговли на&nbsp;Amazon.com </p>
<p>Производство товара и&nbsp;доставка из&nbsp;Китая в&nbsp;Америку занимает от&nbsp;15-30 дней</p>
<p>Как только товар окажется на&nbsp;складе Амазон нейросеть начинает выставлять продукцию на&nbsp;продажу. </p>
<p>Первая выплата выплачивается на&nbsp;35-45 день с&nbsp;момента оплаты продукта. В&nbsp;дальнейшем выплата формируется 25-30 числа каждого месяца</p>
<p>Ваш депозит постоянно находится в&nbsp;обороте на&nbsp;закупке товаров что позволяет сохранить и&nbsp;приумножить ваши финансы.</p>
<p>За&nbsp;всем процессом можно следить из&nbsp;личного кабинета.</p>
<p>ПРОСТО. ПРОЗРАЧНО. НАДЕЖНО.</p>
              `,
                            b: `
<p>Личное приглашение&nbsp;8% от&nbsp;цены проданного продукта</p>
<p>Командный бонус&nbsp;6% от&nbsp;меньшей цены из&nbsp;сформированной пары</p>
              `,
                        },
                    },
                    {
                        name: 'minimal',
                        label: 'Minimal',
                        price: '1 000 $',
                        sidebar_table: [
                            {
                                label: 'Количество товаров:',
                                value: '1',
                            },
                            {
                                label: 'Срок аренды нейросети:',
                                value: '12 месяцев',
                            },
                            {
                                label: 'Средний профит в месяц:',
                                value: '5%',
                            },
                        ],
                        description: {
                            a: `
<p>M&nbsp;I&nbsp;N I&nbsp;M&nbsp;A L&nbsp;&mdash; 1000$ цена продукта</p>
<p>Количество товаров: 1</p>
<p>В&nbsp;представленном пакете нейросеть подбирает для вас 1&nbsp;товар для успешной торговли на&nbsp;Amazon.com </p>
<p>Производство товара и&nbsp;доставка из&nbsp;Китая в&nbsp;Америку занимает от&nbsp;15-30 дней</p>
<p>Как только товар окажется на&nbsp;складе Амазон нейросеть начинает выставлять продукцию на&nbsp;продажу. </p>
<p>Первая выплата выплачивается на&nbsp;35-45 день с&nbsp;момента оплаты продукта. В&nbsp;дальнейшем выплата формируется 25-30 числа каждого месяца</p>
<p>Ваш депозит постоянно находится в&nbsp;обороте на&nbsp;закупке товаров что позволяет сохранить и&nbsp;приумножить ваши финансы.</p>
<p>За&nbsp;всем процессом можно следить из&nbsp;личного кабинета.</p>
<p>ПРОСТО. ПРОЗРАЧНО. НАДЕЖНО.</p>
              `,
                            b: `
<p>Личное приглашение&nbsp;7% от&nbsp;цены проданного продукта</p>
<p>Командный бонус&nbsp;5% от&nbsp;меньшей цены из&nbsp;сформированной пары</p>
              `,
                        },
                    },
                    {
                        name: 'private_label',
                        label: 'Private label',
                        price: '2 000 $',
                        sidebar_table: [
                            {
                                label: 'Срок обучения:',
                                value: '1 месяц',
                            },
                            {
                                label: 'Бизнес профит в месяц:',
                                value: '20% и более от суммы оборотных средств',
                            },
                        ],
                        description: {
                            a: `
<p>P&nbsp;R&nbsp;I&nbsp;V&nbsp;A T&nbsp;E&nbsp;L&nbsp;A B&nbsp;E&nbsp;L&nbsp;&mdash; 2000$ цена обучения</p>
<p>Срок обучения: 30&nbsp;дней</p>
<p>Это бизнес, который связан с&nbsp;долгосрочными инвестициями, созданием собственного бренда, выводом линейки продуктов под едиными брендом. Что&nbsp;же такое P&nbsp;R&nbsp;I&nbsp;V&nbsp;A T&nbsp;E&nbsp;L&nbsp;A B&nbsp;E&nbsp;L&nbsp;по&nbsp;своей сути и&nbsp;как это происходит?</p>
<p>Вы&nbsp;анализируете наиболее продающиеся товары на&nbsp;Амазон.<br />
Определяетесь с&nbsp;нишей и&nbsp;товаром.<br />
Определяете улучшения и&nbsp;доработки продукта, если считаете, что так он&nbsp;будет продаваться лучше (изменение формы, материала, технические детали).</p>
<p>На&nbsp;этом этапе важно понимать, что вы&nbsp;не&nbsp;нарушаете ничьих патентов или других форм права интеллектуальной собственности.<br />
Заказываете производство выбранного продукта (чаще всего&nbsp;&mdash; Китай, но&nbsp;это также может быть и&nbsp;ваш собственный товар, производителем которого вы&nbsp;являетесь в&nbsp;своей стране).</p>
<p>Создаете свою торговую марку и&nbsp;дизайн продукта и&nbsp;упаковки.<br />
Создаете продающий листинг (здесь понадобятся специалисты в&nbsp;маркетинге и&nbsp;SEO-оптимизации) с&nbsp;качественными фотографиями и&nbsp;описанием продукта, чтобы его хотелось купить.</p>
<p>Завозите первую партию товара (скажем, 100-500&nbsp;шт.&nbsp;в&nbsp;зависимости от&nbsp;самого товара) на&nbsp;Амазон и&nbsp;включаете все механизмы его продвижения&nbsp;&mdash; отзывы, рекламу, раздачи, социальный маркетинг и&nbsp;т.&nbsp;д.<br />
Получаете первые продажи. Получаете свои первые органические отзывы на&nbsp;продукт и&nbsp;в&nbsp;зависимости от&nbsp;них&nbsp;&mdash; дорабатываете его или оставляете как есть (если всем нравится).</p>
<p>Заказываете следующую партию товара (в&nbsp;два-три раза большую, чем пробная) на&nbsp;полученную прибыль.</p>
<p>В&nbsp;зависимости от&nbsp;скорости роста продаж&nbsp;&mdash; реинвестируете в&nbsp;новые партии товара, чтобы поддерживать спрос и&nbsp;обеспечивать продажи.<br />
И&nbsp;вот только теперь получаете заслуженные лавры победителя&nbsp;&mdash; стабильные продажи вашего продукта, стабильную прибыль и&nbsp;налаженный логистический и&nbsp;производственный процессы.</p>
<p>Как видите, даже основные шаги по&nbsp;созданию такого вида бизнеса&nbsp;&mdash; это не&nbsp;легкая прогулка по&nbsp;широкому океану возможностей Амазон. Это сложная работа, требующая целеустремленности и&nbsp;концентрации на&nbsp;всех этапах. Но&nbsp;и&nbsp;приз в&nbsp;этой игре достаточно высок&nbsp;&mdash; ваш защищенный бизнес на&nbsp;Амазон, который вы&nbsp;можете масштабировать, развить, а&nbsp;если захотите&nbsp;&mdash; даже продать. Действительно, такой бизнес может быть с&nbsp;легкостью продан, когда вы&nbsp;выведете его на&nbsp;стабильную прибыль. Или&nbsp;же, если вас не&nbsp;страшат высокие вложения, исчисляемые в&nbsp;десятках, а&nbsp;то&nbsp;и&nbsp;сотнях тысяч долларов&nbsp;&mdash; можете такой бизнес купить уже готовым.<br />
Мы&nbsp;поможем вам овладеть всей информацией для успешного старта вашего бизнеса.</p>
<p>Начинать этот бизнес можно с&nbsp;суммы: $3,000 </p>
<p>Предпочтительная сумма на&nbsp;старте: $5,000&nbsp;&mdash; $7,000</p>
<p>Сроки выхода на&nbsp;окупаемость: 10-15 месяцев</p>
<p>Потенциальная прибыль через год: $40,000-50,000&nbsp;в месяц</p>
<p>Маржинальность: от&nbsp;20% и&nbsp;выше</p>
              `,
                            b: `
<p>Личное приглашение&nbsp;8% от&nbsp;цены проданного продукта</p>
<p>Командный бонус&nbsp;6% от&nbsp;меньшей цены из&nbsp;сформированной пары</p>
              `,
                        },
                    },
                    {
                        name: 'online_arbitrage',
                        label: 'Online Арбитраж',
                        price: '1 000 $',
                        sidebar_table: [
                            {
                                label: 'Срок обучения:',
                                value: '1 месяц',
                            },
                            {
                                label: 'Бизнес профит в&nbsp;месяц:',
                                value: 'от 8% от суммы оборотных средств',
                            },
                        ],
                        description: {
                            a: `
<p>O&nbsp;N&nbsp;L&nbsp;I&nbsp;N E&nbsp;А&nbsp;Р&nbsp;Б&nbsp;И&nbsp;Т&nbsp;Р&nbsp;А&nbsp;Ж&nbsp;&mdash; 1000$ цена обучения</p>
<p>Срок обучения 30&nbsp;дней</p>
<p>Этот способ продажи на&nbsp;Амазон отличается в&nbsp;основном тем, что всю рутину по&nbsp;работе с&nbsp;клиентами, оформлением продаж, возвратов и&nbsp;т.&nbsp;д. берет на&nbsp;себя сам Амазон, так как в&nbsp;этой модели вы&nbsp;отправляете товары на&nbsp;склады Амазон, с&nbsp;которых и&nbsp;происходит эта автоматическая торговля. Звучит очень здорово, не&nbsp;правда&nbsp;ли?</p>
<p>Амазон возьмет с&nbsp;вас деньги за&nbsp;хранение товара, за&nbsp;обработку заказов&nbsp;&mdash; в&nbsp;общем, за&nbsp;все&nbsp;то, что вы&nbsp;не&nbsp;будете делать самостоятельно.</p>
<p>В&nbsp;целом, онлайн арбитраж на&nbsp;Амазон&nbsp;&mdash; это вид бизнеса, который позволяет оборачивать достаточно крупные суммы и&nbsp;получать прибыль почти мгновенно с&nbsp;момента старта бизнеса. Если у&nbsp;вас есть оборотный капитал, который хочет быть приумноженным&nbsp;&mdash; этот бизнес ваш
Мы&nbsp;поможем вам овладеть всей информацией для успешного старта вашего бизнеса.</p>
<p>Начинать этот бизнес можно с&nbsp;суммы: $1,000</p>
<p>Предпочтительная сумма на&nbsp;старте: $2,000&nbsp;&mdash; $3,000</p>
<p>Сроки выхода на&nbsp;окупаемость: 2-4 месяца</p>
<p>Потенциальная прибыль через год: $40,000-50,000&nbsp;в месяц</p>
<p>Маржинальность: 8-30%</p>
              `,
                            b: `
<p>Личное приглашение&nbsp;7% от&nbsp;цены проданного продукта</p>
<p>Командный бонус&nbsp;5% от&nbsp;меньшей цены из&nbsp;сформированной пары</p>
              `,
                        },
                    },
                    {
                        name: 'personal_consultations',
                        label: 'Персональные консультации',
                        price: '250 $',
                        sidebar_table: [
                            {
                                label: 'Время консультации:',
                                value: '60 минут',
                            },
                        ],
                        description: {
                            a: `
<p>Персональные консультации&nbsp;&mdash; 250$ цена за&nbsp;консультацию</p>
<p>Время консультации 60&nbsp;минут</p>
<p>Разбираются любые вопросы по&nbsp;торговле на&nbsp;amazon.com</p>
              `,
                        },
                    },
                ],
            };
        },
        methods: {
            goto(index, adjust) {
                console.log(this.$el.testprop);

                if (adjust) {
                    index = this.current_index + index;
                }

                if (index < 0) {
                    index = this.products.length - 1;
                }

                if (index + 1 > this.products.length) {
                    index = 0;
                }

                this.current_index = index;
            },
        },
    }
</script>
<style scoped>
</style>
