<template>
    <div class="b-reviews">
        <h2 class="b-title b-text _ta_c">
            Отзывы
        </h2>

        <nav class="b-reviews__nav">
            <button
                    class="b-button-icon _arrow-left"
                    type="button"
                    @click="goto(-1)"
            ></button>
            <button
                    class="b-button-icon _arrow-right"
                    type="button"
                    @click="goto(1)"
            ></button>
        </nav>

        <div class="b-reviews__inner">
            <div class="b-reviews__row">
                <div v-for="(item, index) of visible"
                     class="b-review"
                     :class="`_${index + 1 + current_index}`"
                     :key="index"
                >
                    <div class="b-review__inner">
                        <p class="b-text _s_md">
                            {{item.name}}
                        </p>
                        <p>
                            {{item.date}}
                        </p>
                        <div class="b-review__text"
                             v-html="item.text"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "reviews",
        data() {
            return {
                current_index: 0,
                step: 3,
                reviews: [
                    {
                        name: 'Buks',
                        date: '19.05.2019',
                        text: `
<p>С&nbsp;этим проектом я&nbsp;познакомился 2&nbsp;месяца назад и&nbsp;за&nbsp;это время я&nbsp;много раз убедился в&nbsp;его качестве. В&nbsp;нём есть возможности для заработка. </p>
<p>Проект работает 4-ый месяц и&nbsp;я&nbsp;очень надеюсь, что он&nbsp;будет работать ещё очень долго. Классный проект!</p>
            `,
                    },
                    {
                        name: 'Oksi2412',
                        date: '06.06.2019',
                        text: `
<p>Наконец-то мне встретился проект с&nbsp;большими возможностями. </p>
<p>Я&nbsp;внимательно ознакомилась с&nbsp;разными вариантами заработка. </p>
<p>Тема продажи товаров на&nbsp;амазон мне очень нравиться я&nbsp;купила нейросеть и&nbsp;не&nbsp;жалею об&nbsp;этом. Сейчас проходу обучение и&nbsp;скоро начну еще сама продавать это просто супер!</p>
            `,
                    },
                    {
                        name: 'Юрий Кузнецов',
                        date: '05.05.2019',
                        text: `
<p>Очередная быстрая выплата от&nbsp;Optimus! </p>
<p>Проект стабильно выплачивает. </p>
<p>Идет все супер! Благодаря уверенным продажам товара, а&nbsp;выплаты ежедневно поступают на&nbsp;баланс ЛК </p>
            `,
                    },
                    {
                        name: 'igoryanuch',
                        date: '30.04.2019',
                        text: `
<p>Для тех, кто сомневается&nbsp;и... кто до&nbsp;сих пор ищет возможность заработка в&nbsp;сети(раз уж&nbsp;вы&nbsp;настолько заинтересовались &laquo;Optimus&raquo;, что ищете и&nbsp;читаете/смотрите отзывы о&nbsp;данном сообществе)- <br />
  примите мои поздравления! Вы&nbsp;нашли достойный проект, который работает и&nbsp;платит своим участникам. Вы, уже на&nbsp;пол шага к&nbsp;своей финансовой независимости! <br />
  <br />
  Чем раньше вы&nbsp;присоединитесь и&nbsp;распределите свои средства, тем ранее начнёте получать прибыль! <br />
  <br />
  Не&nbsp;теряйте свои деньги в&nbsp;&quot;хайпах&quot;,&quot;лохотронах&quot; и&nbsp;&laquo;баблосборниках&raquo;! <br />
  <br />
  Цените своё время! </p>
            `,
                    },
                    {
                        name: 'Levft',
                        date: '18.06.2019',
                        text: `
<p>
  Реально интересный сайт. Команда всегда на&nbsp;месте, грамотно отвечает на&nbsp;любые вопросы и&nbsp;уже это большой плюс. Можно покупать разные пакеты и&nbsp;получать проценты, можно покупать знания и&nbsp;строить собственный бизнес на&nbsp;Amazon. Нейросеть, обучение, выплаты, всё это прекрасно дополняет проект. Рекомендую грамотным пользователям.</p>

            `,
                    },
                    {
                        name: 'alexander955',
                        date: '04.10.18',
                        text: `
<p>Приветствую всех! Интересный сайт, только я&nbsp;ничего не&nbsp;понял, поэтому прошу создателей сайта пояснить мне все! Хочу купить обучение и&nbsp;начать свой бизнес на&nbsp;Amazon.</p>
            `,
                    },
                ],
            };
        },
        computed: {
            visible() {
                return this.reviews.slice(this.current_index, this.current_index + this.step);
            },
        },
        methods: {
            goto(index) {
                index = index === 1
                    ? this.current_index + this.step
                    : this.current_index - this.step;

                if (index < 0) {
                    index = this.reviews.length - this.step;
                }

                if (index + 1 > this.reviews.length) {
                    index = 0;
                }

                this.current_index = index;
            },
        },
    };
</script>
