{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Список клиентов{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-12">
            <table class="table datagrid">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Email</td>
                        <td>Имя</td>
                        <td>Верификация</td>
                        <td>Действия</td>
                    </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.userInformation ? client.userInformation.fullName : 'Информация не предоставлена' }}</td>
                    <td>{{ client.userInformation ? (client.userInformation.isVerified ? 'Верифицирован' : 'Не верифицирован') : 'Информация не предоставлена' }}</td>
                    <td class="actions">
                        <a class="action-edit" href="{{ path('app.admin.user_form', {'id': client.id}) }}">Редактировать</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
