{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{% endblock %}
{#productSalesData#}
{% block main %}
    <div class="row">
        <div class="col-12">
            <table class="table datagrid">
                <thead>
                <tr>
                    <td>Дата</td>
                    <td>Продано товаров</td>
                    <td>Прибыль</td>
                </tr>
                </thead>
                <tbody>
                {% for singleData in productSalesData %}
                    <tr>
                        <td>{{ singleData.dateOfSale | date('d.m.Y') }}</td>
                        <td>{{ singleData.numberOfSales }}</td>
                        <td>{{ singleData.income }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}