{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-4">
            <h4>Информация о клиенте</h4>
            <table class="table datagrid">
                <tbody>
                <tr>
                    <th scope="row">Имя и фамилия</th>
                    <td>{{ userFullName }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Статус верификации</th>
                    <td>{{ userVerification }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h4>Информация о пакетах</h4>
            {% if userPackages is not empty %}
                {% for userPackage in userPackages %}
                    <table class="table datagrid">
                        <tbody>
                        <tr>
                            <th scope="row">Название продукта</th>
                            <td>{{ userPackage.product.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Количество товаров от</th>
                            <td>{{ userPackage.product.numberOfGoodsMin }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Количество товаров от</th>
                            <td>{{ userPackage.product.numberOfGoodsMax }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            <h4>Информация о товарах</h4>
            {% if amazonProducts is empty %}
                <a href="{{ path('app.admin.user_add_amazon_product', {'id': user.id}) }}">Добавить продукт</a>
                {% else %}
                    <table class="table datagrid">
                        <tbody>
                        {% for amazonProduct in amazonProducts %}
                            <tr>
                                <th>{{ amazonProduct.title }}</th>
                                <td>
                                    <a href="{{ path('easyadmin', {
                                        'action': 'new',
                                        'entity': 'AmazonProductSalesData',
                                        'amazonProduct': amazonProduct.id
                                    }) }}">
                                        Добавить статистику
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('app.admin.user_amazon_product_sales_data', {
                                        'id': amazonProduct.id
                                    }) }}">
                                        Просмотреть статистику
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('app.admin.user_add_amazon_product', {'id': user.id}) }}">Добавить продукт</a>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>Счета клиента</h4>
            <table class="table datagrid">
                <thead>
                    <th>Название</th>
                    <th>Баланс</th>
                </thead>
                <tbody>
                {% for userAccount in userAccounts %}
                    <tr>
                        <td>{{ userAccount.account.name }}</td>
                        <td>{{ userAccount.actualAmount | get_price_with_currency_sign }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('easyadmin', {
                'action': 'new',
                'userId': user.id,
                'entity': 'UserAccount'
            }) }}">
                Добавить счет
            </a>
        </div>
        <div class="col-4">
            <h4>Реферальной системы</h4>
            {% if invitedUsers is empty %}
               <p>Нет пользователей</p>
            {% else %}
                <table class="table datagrid">
                    <thead>
                        <th>Email</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for invitedUser in invitedUsers %}
                        <tr>
                            <td>{{ invitedUser.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if user.userNetwork %}
            <a href="{{ path('app.admin.user_referral_network', {
                'user': user.id
            }) }}">
                Управлление реферальной системой
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
