{# templates/admin/form.html.twig #}
{% block _verification_status_widget %}
    <p>Do you want to verify this user</p>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="1">Verify
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="status" value="0">Decline
        </label>
    </div>

{% endblock %}