{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Раздел</th>
                    <td>{{ userIssue.section }}</td>
                </tr>
                <tr>
                    <th scope="row">Приоритет</th>
                    <td>{{ userIssue.priority }}</td>
                </tr>
                <tr>
                    <th scope="row">Тема</th>
                    <td>{{ userIssue.title }}</td>
                </tr>
                <tr>
                    <th scope="row">Сообщение</th>
                    <td>{{ userIssue.description }}</td>
                </tr>
                <tr>
                    <th scope="row">Изображение</th>
                    <td><img src="{{ asset(image) }}" width="100%"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <form action="{{ path('app_admin_user_issue_submit') }}" method="post">
                <div class="form-group">
                    <label for="reply-message">Your answer</label>
                    {% if userIssue.issueAnswer %}
                        <p>{{ userIssue.issueAnswer }}</p>
                        {% else %}
                            <textarea class="form-control" id="reply-message" name="issue-answer" rows="10"></textarea>
                    {% endif %}
                </div>
                {% if userIssue.issueAnswer is null %}
                    <input type="text" hidden value="{{ userIssue.id }}" name="issue-id">
                    <button type="submit" class="btn-success btn">Answer on an issue</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}