{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}