{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-12">
            <table>
                <tr>
                    <td>Пользователь</td>
                    <td>{{ transfer.user.userInformation.fullName }} (#{{ transfer.user.id}})</td>
                </tr>
                <tr>
                    <td>Дата заявки</td>
                    <td>{{ transfer.requestDate | date }}</td>
                </tr>
                <tr>
                    <td>Счёт</td>
                    <td>{{ transfer.userAccount.account.name }}</td>
                </tr>
                <tr>
                    <td>Остаток на счёте</td>
                    <td>
                        {% if transfer.requestStatus is null %}
                            {{ transfer.userAccount.balance - transfer.userAccount.blocked }} {{ transfer.userAccount.account.currency.sign }}
                            {% else %}
                                {{ transfer.amountBeforeOperation  }} {{ transfer.userAccount.account.currency.sign }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Запрошенная сумма</td>
                    <td>{{ transfer.requestedAmount }} {{ transfer.userAccount.account.currency.sign }}</td>
                </tr>
                <tr>
                    <td>Сумма комиссии</td>
                    <td>{{ transfer.blockedAmount }} {{ transfer.userAccount.account.currency.sign }}</td>
                </tr>
                <tr>
                    <td>Общая сумма</td>
                    <td>{{ transfer.requestedAmount + transfer.blockedAmount }} {{ transfer.userAccount.account.currency.sign }}</td>
                </tr>
                <tr>
                    <td>Тип перевода</td>
                    <td>{{ transfer.transferMethod.name }}</td>
                </tr>
            </table>
            {% if transfer.requestStatus is null %}
            <form method="post">
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio" name="transfer_status" id="approve-transfer" value="1">
                    <label class="form-check-label" for="approve-transfer">
                        Approve transfer
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio" name="transfer_status" id="decline-transfer" value="0">
                    <label class="form-check-label" for="decline-transfer">
                        Decline transfer
                    </label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Записать</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}