{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-3">
            {% include 'client/partials/user_information_table.html.twig' %}
        </div>

        <div class="col-9">
            <img src="{{ asset(image) }}" width="100%">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="{{ path('app_admin_verify_user_submit', {'user': user_id}) }}">
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="verify-request-status" id="verify-approve" value="1" required>
                        <label class="form-check-label" for="inlineRadio1">Approve</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="verify-request-status" id="verify-decline" value="0" required>
                        <label class="form-check-label" for="inlineRadio2">Decline</label>
                    </div>
                </div>
                <input hidden type="text" name="verificationRequestId" value="{{ verificationRequestId }}">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}