<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app.client.index') }}">
        <div class="sidebar-brand-text mx-3">
            <img src="{{ asset('assets/img/logo.png') }}" class="full-image">
            <img src="{{ asset('assets/img/small_logo.png') }}" class="small-image">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('app.client.index') }}">
            <img src="{{ asset('assets/img/76456.png') }}" width="30px">
            <span>Главная</span></a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#personal-data" aria-expanded="true" aria-controls="personal-data">
            <img src="{{ asset('assets/img/87.png') }}" width="30px">
            <span>Личные данные</span>
        </a>
        <div id="personal-data" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app.client.personal_info.common_info') }}">Общая информация</a>
                <a class="collapse-item" href="{{ path('app.client.personal_info.verification') }}">Верификация</a>
                <a class="collapse-item" href="{{ path('app.client.personal_info.edit_info') }}">Изменить данные</a>
                <a class="collapse-item" href="{{ path('app.client.personal_info.change_password') }}">Изменить пароль</a>
                <a class="collapse-item" href="{{ path('app.client.personal_info.login_history') }}">IP-адреса</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#marketing" aria-expanded="true" aria-controls="marketing">
            <img src="{{ asset('assets/img/433.png') }}" width="30px">
            <span>Маркетинг</span>
        </a>
        <div id="marketing" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app.client.marketing.starting_packages') }}">Стартовые пакеты</a>
                <a class="collapse-item" href="{{ path('app.client.marketing.referral_link') }}">Реферальная ссылка</a>
                <a class="collapse-item" href="{{ path('app.client.marketing.binary_network') }}">Бинарная структура</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#myBills" aria-expanded="true" aria-controls="myBills">
            <img src="{{ asset('assets/img/5555.png') }}" width="30px">
            <span>Мои счета</span>
        </a>
        <div id="myBills" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app.client.account.list') }}">Все счета</a>
                <a class="collapse-item" href="{{ path('app.client.account.withdrawal') }}">Вывод средств</a>
                <a class="collapse-item" href="{{ path('app.client.account.withdrawal_list') }}">Заявки на вывод</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#help" aria-expanded="true" aria-controls="help">
            <img src="{{ asset('assets/img/43656.png') }}" width="30px">
            <span>Помощь</span>
        </a>
        <div id="help" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app.client.help.create_issue') }}">Создать запрос</a>
                <a class="collapse-item" href="{{ path('app.client.help.my_issues') }}">Мои запросы</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app.client.news.list') }}">
            <img src="{{ asset('assets/img/e5475.png') }}" width="30px">
            <span>Новости</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">
            <img src="{{ asset('assets/img/34655456.png') }}" width="30px">
            <span>Выход</span></a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0 b-button-toggle" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
