<table class="table">
    <tbody>
    <tr>
        <th scope="row">Полное имя</th>
        <td>{{ userInformation.fullName }}</td>
    </tr>
    <tr>
        <th scope="row">Верификация</th>
        <td>{{ (userInformation.isVerified) ? 'verified' : 'not verified' }}</td>
    </tr>
    <tr>
        <th scope="row">Номер телефона</th>
        <td>{{ userInformation.phoneNumber }}</td>
    </tr>
    <tr>
        <th scope="row">Страна</th>
        <td>{{ userInformation.country }}</td>
    </tr>
    <tr>
        <th scope="row">Регион</th>
        <td>{{ userInformation.region }}</td>
    </tr>
    <tr>
        <th scope="row">Город</th>
        <td>{{ userInformation.city }}</td>
    </tr>
    </tbody>
</table>