<div id="order-modal" class="modal">
    <form action="{{ path('app.front.send_message_modal') }}">
        <div class="b-form">
            <div class="b-form__inner">
                <h2 class="b-text _s_md _ta_c _mb">
                    Заказать
                </h2>
                <form class="b-form__container">
                    <div class="b-form__row">
                        <input
                                class="b-input"
                                type="text"
                                name="name"
                                placeholder="Имя"
                        >
                    </div>
                    <div class="b-form__row">
                        <input
                                class="b-input"
                                type="text"
                                name="phone"
                                placeholder="Телефон"
                        >
                    </div>
                    <div class="b-form__row">
                        <input
                                class="b-input"
                                type="email"
                                name="email"
                                placeholder="Эл. почта"
                        >
                    </div>
                    <input name="modal_type" hidden value="buy_request">
                    <div class="b-form__row">
                        <button class="b-button-arrow"
                                type="submit">
                            Отправить
                        </button>
                    </div>
                    <div class="b-form__row">
                        <p class="b-form__text">
                            Нажимая на кнопку «Отправить»,<br>
                            вы даете согласие на&nbsp;обработку своих персональных данных.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>
