{% extends 'client/base.html.twig'%}

{% block content_row %}

    {% for amazonProduct in amazonProducts %}
        <div class="row" style="margin: 25px 0">
           <div class="col-12">
               <h3>{{ amazonProduct.title }}</h3>
           </div>
            <div class="col-xl-3 col-md-3 mb-3">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h5 class="card-title">Ваш товар</h5>
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <img src="{{ vich_uploader_asset(amazonProduct, 'imageFile') }}" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-3 mb-3">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h5 class="card-title">Статус товара</h5>
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Закуп товара</th>
                                        <td>
                                            {% if amazonProduct.buyStatus %}
                                                <span class="badge badge-success">OK</span>
                                                {% else %}
                                                  <span class="badge badge-warning">Не закупается</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Производство</th>
                                    </tr>
                                    <tr>
                                        <td>с {{ amazonProduct.productionFrom| date('d.m.Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td>по {{ amazonProduct.productionTo | date('d.m.Y') }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-3 mb-3">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h5 class="card-title">Доставка</h5>

                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <p>{% if amazonProduct.trackingCode %}{{ amazonProduct.trackingCode }}{% else %}Код отсутствует{% endif %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-3 mb-3">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h5 class="card-title">Продажи</h5>
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                {% set latestSalesData = getAmazonProductDataLatest(amazonProduct) %}

                                {% if latestSalesData %}
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Дата продаж</th>
                                        <td>{{ latestSalesData.dateOfSale | date('d.m.Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Число продаж</th>
                                        <td>{{ latestSalesData.numberOfSales }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Доход</th>
                                        <td>
                                            {{ latestSalesData.income | get_price_with_currency_sign }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>Нет данных</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h5 class="card-title">Показатели</h5>

                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <p>{{ amazonProduct.information | raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 mb-6 col-align-self-end">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <h5 class="card-title">Реферальная ссылка </h5>

                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                {% if referralLink == null %}
                                    <div class="alert-warning alert">
                                        <p>Чтобы получить реферальную ссылку, Вам нужно купить продукт</p>
                                    </div>
                                {% else %}
                                    <p>Реферальная ссылка на вашу сеть:</p>
                                    <input type="text" class="form-control" id="referralLink"
                                           value="{{ app.request.getSchemeAndHttpHost() ~ path('app_register', {'referral_code': referralLink.referralCode}) }}"                                   aria-label="Recipient's username"
                                           aria-describedby="basic-addon2" disabled>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
