{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    {#show user information#}
                    {% if userInformation is defined %}
                        {% if userInformation | length == 0 %}
                            You have no provide information yet
                        {% else %}
                            {% include 'client/partials/user_information_table.html.twig' %}
                        {% endif %}
                    {% endif %}

                    {#show user edit form#}
                    {% if form is defined %}
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}