{% extends 'client/base.html.twig' %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <table id="user_logins_history" class="table table-bordered dataTable">
                            <thead>
                            <tr>
                                <th>IP-адрес</th>
                                <th>Дата входа</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for userLogin in userLogins %}
                                <tr>
                                    <td>{{ userLogin.ip }}</td>
                                    <td>{{ userLogin.loginDate | date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#user_logins_history').DataTable();
        } );
    </script>
{% endblock %}