{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    {% if userInformation | length == 0 %}
                        <div class="alert alert-warning">
                            Вам необходимо указать свои данные перед началом верификации
                        </div>
                    {% elseif verificationRequest is null %}

                        {% if userInformation.isVerified %}
                            <div class="alert alert-success">
                                Ваш запрос на верификацию одобрен
                            </div>
                        {% endif %}

                        {% if isVerified is null %}
                            {% include 'client/partials/verification_request_form.html.twig' %}
                        {% endif %}

                    {% else %}

                        {% if verificationRequest.status is null %}
                            <div class="alert alert-warning">
                                Ваш запрос на верификацию в обработке
                            </div>
                        {% elseif verificationRequest.status == 0 %}
                            <div class="alert alert-danger">
                                Ваш запрос на верификацию не был одобрен
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}