.b-button-link {
  background: transparent;
  border: none;
  padding: 0;
  color: $color_button;
  text-transform: uppercase;

  &:not([disabled]) {
    cursor: pointer;
  }

  [disabled] {
    opacity: 0.5;
  }
}

.b-button-arrow {
  position: relative;
  padding: 4px 84px 4px 30px;
  height: 74px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  background: $color_button;
  border: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;

  &:not([disabled]) {
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    border: solid 6px #fff;
    border-radius: 999px;
    box-sizing: border-box;
    background: url(~@/assets/images/button-arrow.svg) center no-repeat;
  }
}

.b-button-order {
  padding: 16px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: $color_button;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 1;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.b-button-icon {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background: transparent;
  border: none;

  &:not([disabled]) {
    cursor: pointer;
  }

  &._arrow-left,
  &._arrow-right {
    border-radius: 999px;
    background: #222F3C url(~@/assets/images/products-icons/icon__arrow-right-fff.svg) center no-repeat;
  }

  &._arrow-left {
    transform: scale(-1);
  }
}
