.b-footer {
  padding: 40px 0;
  min-height: 111px;
  box-sizing: border-box;
  color: #fff;
  background: #262626;
}

.b-footer__inner {
  @include layout_max_width;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2px 40px 0;
}
