.b-form {
  width: 600px;
  box-sizing: border-box;
  background: url(~@/assets/images/form-circles-bg.svg) center / contain no-repeat;
}

.b-form__inner {
  width: 400px;
  min-height: 300px;
  background: #fff;
  border: solid 4px $color_button;
  border-radius: 3px;
  padding: 24px 80px 48px;
  margin: 40px auto;
  box-sizing: border-box;
}

.b-form__container {
  display: flex;
  flex-direction: column;
  margin: -12px;
}

.b-form__row {
  margin: 12px;
}

.b-input {
  padding: 0 0 8px;
  border: none;
  border-bottom: solid 1px #ccc;
  width: 100%;
  outline: none;
  font-size: 20px;
  line-height: 1;

  &:focus {
    border-bottom-color: #FD9727;
  }

  &::placeholder {
    color: #ccc;
  }
}

.b-form__text {
  font-size: 14px;
  color: #999;
}
