$menu_gutter_small: 6px;
$menu_gutter: 16px;

.b-header {
  padding: 40px 0;
  min-height: 111px;
  box-sizing: border-box;
}

.b-header__inner {
  @include layout_max_width;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2px 40px 0;
}

.b-header__menu {
  display: flex;
  margin: -4px -#{$menu_gutter_small};

  @media (min-width: 80em) {
    margin: -4px -#{$menu_gutter};
  }
}

.b-header__item {
  background: transparent;
  border: none;
  cursor: pointer;
  color: $color_text_medium;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  padding: 0;
  margin: 4px $menu_gutter_small;

  @media (min-width: 80em) {
    margin: 4px $menu_gutter;
  }

  &._lang {
    color: #999;
    padding-left: calc(#{$menu_gutter_small} * 4);

    @media (min-width: 80em) {
      padding-left: calc(#{$menu_gutter} * 4);
    }
  }

  &:hover:not(.router-link-exact-active) {
    text-decoration: underline;
  }

  &.router-link-exact-active {
    font-weight: 700;
  }
}

.b-header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 228px;
  height: 31px;
  background: url(~@/assets/images/logo.svg) center no-repeat;
}
