.b-home {
  position: relative;
  min-height: 1000px;
  background: url(~@/assets/images/home-bg.jpg) center / cover no-repeat;
  margin-bottom: 65px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 130px;
    height: 130px;
    background: url(~@/assets/images/home-circle.svg) center / contain no-repeat;
  }
}

.b-home__inner {
  @include layout_max_width($max_width_m);
  padding: 120px 40px;
}

.b-icons-chain {
  display: flex;
  margin: 28px -5vw -12px;
}

$filepath: $filepath_images + 'icons-chain/';
$icons: (
//name          ext  w     h
  find-goods    svg   89px 84px,
  find-supplier svg  108px 84px,
  buy           svg   50px 84px,
  send          svg   71px 84px,
  sale          svg   82px 84px,
);

.b-icons-chain__item {
  position: relative;
  color: $color_text_medium;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  padding: calc(84px + 24px) 0 0;
  margin: 12px 5vw;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 84px;
    background: center no-repeat;
  }

  @each $icon in $icons {
    &._#{nth($icon, 1)} {
      min-width: nth($icon, 3);

      &::before {
        width: nth($icon, 3);
        //height: nth($icon, 4);
        background-image: url($filepath + 'icon__' + nth($icon, 1) + '.' + nth($icon, 2));
      }
    }
  }

  &:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      top: calc(84px / 2);
      right: -5vw;
      transform: translate(50%, -50%);
      width: 16px;
      height: 25px;
      background: url($filepath + 'divider.svg') center no-repeat;
    }
  }
}
