.b-layout {
  min-width: $mq_xl;
}

.b-row {
  margin: 40px 0;
}

.b-cols {
  display: flex;
  margin: -12px;

  &._mt {
    margin-top: 12px;
  }
}

.b-col {
  margin: 12px;
}

.b-block-centered__inner {
  @include layout_max_width($max_width_m);
  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-catalog {
  position: relative;
  background: url(~@/assets/images/catalog-bg.svg) right center / auto 75% no-repeat, $color_background;
}

.b-catalog__inner {
  @include layout_max_width($max_width_m);
  padding: 120px 40px;
}

.b-catalog__columns {
  display: flex;
}

.b-catalog__text {
  margin-right: 70px;

  @media (min-width: $mq_xl) {
    margin-right: 100px;
  }

  @media (min-width: $max_width) {
    margin-right: 144px;
  }
}

.b-catalog__products {
  min-width: 680px;
  overflow: hidden;
}

.b-catalog-full {
  position: relative;
  background: $color_background;
  overflow: hidden;
}

.b-catalog-full__inner {
  @include layout_max_width(85em);
  padding: 120px 40px;
}
