.b-partnership {
  position: relative;
}

.b-partnership__inner {
  @include layout_max_width($max_width_m);
  padding: 120px 40px 0;
}

.b-partnership__image {
  width: calc(50% - 48px);
  min-height: 300px;
  background: url(~@/assets/images/partnership/hands.jpg) center / contain no-repeat;
}

.b-partnership__icons {
  width: 100%;
  min-height: 526px;
  background: url(~@/assets/images/partnership/icons.svg) center top / contain no-repeat;
}

.b-partnership__numbers {
  @include layout_max_width(1920px);
  width: 100%;
  padding-top: 1000px;
  background: url(~@/assets/images/partnership/numbers.svg) center top / contain no-repeat, $color_background;
}

.b-numbers {
  @include layout_max_width(1600px);
  padding-bottom: 200px;
}

.b-numbers__inner {
  @include layout_max_width();
  min-height: 1600px;
  background: url(~@/assets/images/partnership/circle.svg) center / contain no-repeat;
  padding: 0 40px;
}

$b: 1440px;

.b-numbers__row {
  position: relative;
  background: center 40px no-repeat;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: left top / contain no-repeat;
  }

  &::after {
    left: auto;
    right: 0;
  }

  &:nth-child(1) {
    height: 794px;
    background-image: url(~@/assets/images/partnership/row_1_number.svg);
    margin-bottom: 200px;

    &::before {
      width: calc(562px / 1.2);
      height: calc(750px / 1.2);
      background-image: url(~@/assets/images/partnership/row_1_a.svg);

      @media (min-width: $b) {
        width: 562px;
        height: 750px;
      }
    }

    &::after {
      top: 59px;
      width: calc(620px / 1.2);
      height: calc(735px / 1.2);
      background-image: url(~@/assets/images/partnership/row_1_b.svg);

      @media (min-width: $b) {
        width: 620px;
        height: 735px;
      }
    }
  }

  &:nth-child(2) {
    height: 828px;
    background-image: url(~@/assets/images/partnership/row_2_number.svg);

    &::before {
      width: calc(440px / 1.3);
      height: calc(820px / 1.3);
      background-image: url(~@/assets/images/partnership/row_2_a.svg);

      @media (min-width: $b) {
        width: 440px;
        height: 820px;
      }
    }

    &::after {
      top: 8px;
      width: calc(800px / 1.3);
      height: calc(813px / 1.3);
      background-image: url(~@/assets/images/partnership/row_2_b.svg);

      @media (min-width: $b) {
        width: 800px;
        height: 813px;
      }
    }
  }
}

.b-bonuses {
  background: $color_background;
}

.b-bonuses__inner {
  @include layout_max_width(1440px);
  padding: 0 40px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-bonuses__list {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.b-bonus {
  flex: 1 0 0;
  min-width: calc(33.3% - 24px);
  margin: 12px;
  min-height: 252px;
  padding-left: 160px;
  background: left top / 160px no-repeat;
  box-sizing: border-box;

  @media (min-width: $b) {
    padding-left: 200px;
    background-size: 200px;
  }

  @for $i from 1 to 7 {
    &:nth-child(#{$i}) {
      background-image: url('~@/assets/images/partnership/icon_' + $i + '.png');
    }
  }
}

.b-motto {
  color: #fff;
  background: $color_button;
  padding: 160px 40px 200px;
}

.b-motto__button {
  display: block;
  width: 458px;
  height: 458px;
  border: none;
  color: #fff;
  font-size: 20px;
  background: url(~@/assets/images/partnership/circles-fff.svg) center / contain no-repeat;
  cursor: pointer;
  margin: 0 auto 40px;
  padding: 220px 0 0;
}
