.b-products__card {
  position: relative;
  z-index: 10;
}

.b-product {}

.b-product__slider {
  display: flex;

  &._wide {
    justify-content: space-between;
  }
}

$filepath: $filepath_images + 'products/';
$filepath_clean: $filepath_images + 'products-clean/';
$w: 360px;
$h: 477px;
$scale: 1.3;
$icons: (
//name                    ext
  minimal                 svg,
  middle                  svg,
  expert                  svg,
  online_arbitrage        svg,
  private_label           svg,
  personal_consultations  svg,
);

.b-product__image {
  position: relative;
  min-width: $w;
  width: $w;
  height: $h;
  margin-right: 24px;
  background: center no-repeat;

  @media (min-width: $max_width) {
    margin-right: 48px;
    min-width: 380px;
    width: 380px;
  }

  &._clean {
    width: 578px; // calc(#{$w} * #{$scale});
    height: calc(#{$h} * #{$scale});
    margin-right: 48px;
  }

  @each $icon in $icons {
    &._#{nth($icon, 1)} {
      background-image: url($filepath + nth($icon, 1) + '.' + nth($icon, 2));

      &._clean {
        background-image: url($filepath_clean + nth($icon, 1) + '.' + nth($icon, 2));
        background-size: calc(#{$w} * #{$scale}) calc(#{$h} * #{$scale});
      }
    }
  }
}

.b-product__background {
  position: absolute;
  top: -160px;
  left: -160px;
  width: 892px;
  height: 845px;
  background: url($filepath_clean + 'product-image-bg.svg') center no-repeat;
}

.b-product__sidebar {
  @include flex_1;
  position: relative;
  width: 380px;

  &._wide {
    flex: auto 0 0;
    width: 440px;
  }
}

.b-sidebar__row {
  border-top: solid 1px #ccc;
  padding: 24px 0;
}

.b-product__table {
  tr {
    td {
      padding: 4px 0;

      &:first-child {
        width: 200px;

        ._wide & {
          width: 240px;
        }
      }

      &:last-child {
        padding-left: 8px;
        //width: 110px;
      }
    }
  }
}

.b-product__price {
  display: flex;
}

.b-product__arrows {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(calc(-50% - 24px));
  display: flex;
  justify-content: space-between;
}

.b-product__description {
  @include layout_max_width($max_width_m);
  position: relative;
  margin-top: 80px;
  z-index: 13;
}
