.b-products__nav {
  display: flex;
  margin: -4px -64px 116px;
  z-index: 12;

  &:not(._wide) {
    margin-left: -4px;

    @media (min-width: $max_width) {
      margin-left: 8px;
    }
  }

  &._wide {
    justify-content: center;
  }
}

$filepath: $filepath_images + 'products-icons/';
$icons: (
//name            ext  w     h
  neural-network  svg  51px  54px,
  education       svg  58px  55px,
);

.b-products__sort-divider {
  background: #ccc;
  width: 2px;
}

.b-products__sort {
  margin: 4px 64px;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  z-index: 12;

  span {
    display: block;
    font-size: 25px;
    line-height: 1;
    color: #ccc;
    padding: 12px 0;
    border-bottom: solid 2px transparent;
  }

  &:hover,
  &._current {
    span {
      color: #333;
      border-bottom-color: #FD9727;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  &:hover,
  &._current {
    &::before {
      opacity: 1;
    }
  }

  @each $icon in $icons {
    &._#{nth($icon, 1)} {
      padding-left: calc(#{nth($icon, 3)} + 20px);

      &::before {
        width: nth($icon, 3);
        height: nth($icon, 4);
        background-image: url($filepath + 'icon__' + nth($icon, 1) + '.' + nth($icon, 2));
      }
    }
  }
}
