$gutter: 32px;

.b-reviews {
  padding: 120px 0;
}

.b-reviews__inner {
  position: relative;
  @include layout_max_width();
  padding: 120px 40px 0;
}

.b-reviews__row {
  display: flex;
  flex-wrap: wrap;
  margin: -#{$gutter};
}

.b-review {
  position: relative;
  flex: 1 0 0;
  min-width: calc(33.3% - #{$gutter} * 2);
  margin: $gutter;
  min-height: 252px;
  box-sizing: border-box;

  &::before,
  &::after {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    border-radius: 999px;
    box-sizing: border-box;
  }

  &::before {
    top: 0;
    right: 40px;
    width: 120px;
    height: 120px;
    border: solid 8px $color_button;
  }

  &::after {
    top: 0px;
    right: 50px;
    width: 100px;
    height: 100px;
    background: center / cover no-repeat;
  }

  @for $i from 1 to 7 {
    &._#{$i} {
      &::after {
        background-image: url('~@/assets/images/people/' + $i + '.jpg');
      }
    }
  }
}

.b-review__inner {
  background: #fff;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
  border-radius: 5px;
  padding: 24px 40px;
}

.b-reviews__nav {
  position: relative;
  @include layout_max_width(200px);
  //padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
