body {
  &, button {
    font-family: 'PT Root UI', sans-serif;
  }

  line-height: 1.25;
}

h1,
.b-title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  margin: 0 0 1em;
}

.b-text {
  &._s_md {
    font-size: 20px;
    line-height: 30px;
  }

  &._s_lg {
    font-size: 30px;
    line-height: 40px;
  }

  &._fw_l {
    font-weight: 300;
  }

  &._fw_n {
    font-weight: 400;
  }

  &._fw_md {
    font-weight: 500;
  }

  &._fw_b {
    font-weight: 700;
  }

  &._ta_c {
    text-align: center;
  }

  &._color_accent {
    color: $color_button;
  }

  &._max-width {
    max-width: 430px;
  }

  &._max-width_sm {
    max-width: 240px;
  }

  &._max-width_md {
    max-width: 620px;
  }

  &._max-width_lg {
    max-width: 800px;
  }

  &._mb {
    margin-bottom: 60px;
  }
}
