{% extends 'client/base.html.twig' %}

{% block custom_styles %}
    {# style for the old tree, can be usefull #}

{#<link href="{{ asset('assets/css/binary_tree_styles.css') }}" rel="stylesheet">#}
<link href="{{ asset('assets/client/css/tree.css') }}" rel="stylesheet">
{% endblock %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-12">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    {% if userNetwork is not null %}
                    <div class="col-12">
                        {{ form_start(form) }}
                        <div class="form-group mb-2">
                            {{ form_label(form.activeBranch) }}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_widget(form.activeBranch) }}
                        </div>
                        <div class="form-group mb-2">
                            {{ form_widget(form.save) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                    {% endif %}
                    <div class="col-sm-12" style="display: flex;flex: 1;justify-content: center;">
                        <div class="b-layout">
                            <div class="b-tree">

                                <div class="b-branch">
                                    <div class="b-child">
                                        {% if userNetwork is not null %}
                                        <span class="b-label">{{ userNetwork.user.email }}</span>
                                        {% include 'client/layouts/marketing/branch_tpl.html.twig' with {
                                            'userNetwork': userNetwork,
                                            'userNetworkBinaryTree': userNetworkBinaryTree,
                                            'notInNetworkUsers': notInNetworkUsers,
                                            'nodeIdBefore': userNetwork.user.id
                                        }%}
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script src="{{ asset('assets/client/js/tree.js') }}"></script>
{% endblock %}