<div class="b-branch">
    {% set topBranchItems = [] %}
    {% set bottomBranchItems = [] %}
    {% for treeNode in userNetworkBinaryTree %}
        {% if treeNode.treeBranch == 'top' %}
            {% set topBranchItems = topBranchItems | merge([treeNode])  %}
        {% endif %}

        {% if treeNode.treeBranch == 'bottom' %}
            {% set bottomBranchItems = bottomBranchItems | merge([treeNode])  %}
        {% endif %}
    {% endfor %}

    {% for item in topBranchItems %}
        {% if item.userIdBefore == nodeIdBefore %}
            <div class="b-child">
                <span class="b-label" data-branch="{{ item.treeBranch }}" data-nodeid="{{ item.treeMember.id }}">{{ item.treeMember.email }}</span>

                {% include 'admin/binary_network/branch_tpl.html.twig' with {
                    'userNetwork': userNetwork,
                    'userNetworkBinaryTree': userNetworkBinaryTree,
                    'notInNetworkUsers': notInNetworkUsers,
                    'nodeIdBefore': item.treeMember.id
                } %}
            </div>
        {% endif %}
    {% endfor %}

    {% for item in bottomBranchItems %}
        {% if item.userIdBefore == nodeIdBefore %}
            <div class="b-child">
                <span class="b-label" data-branch="{{ item.treeBranch }}" data-nodeid="{{ item.treeMember.id }}">{{ item.treeMember.email }}</span>

                {% include 'admin/binary_network/branch_tpl.html.twig' with {
                    'userNetwork': userNetwork,
                    'userNetworkBinaryTree': userNetworkBinaryTree,
                    'notInNetworkUsers': notInNetworkUsers,
                    'nodeIdBefore': item.treeMember.id
                } %}
            </div>
        {% endif %}
    {% endfor %}
</div>