{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <h3>{{ package.name }}</h3>
                        <p>{{ package.price }} {{ activeCurrency }}</p>
                        <p>{{ package.description | raw }}</p>
                        <a href="{{ path('app.client.payment.select_payment_type', {'product': package.id}) }}"
                           class="btn btn-success"
                           role="button">
                            Купить пакет
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}