{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <h4>
                            Информация о продукте
                        </h4>
                    </div>
                </div>
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12" style="min-height: 220px">
                        <table class="table">
                            <tr>
                                <th>Название</th>
                                <td>{{ package.name }}</td>
                            </tr>
                            <tr>
                                <th>Количество товаров</th>
                                <td>
                                    {% if package.numberOfGoodsMin %}от {{ package.numberOfGoodsMin }} {% endif %} {% if package.numberOfGoodsMax %}до {{ package.numberOfGoodsMax }} {% endif %}
                                </td>
                            </tr>
                        </table>
                        <p>{{ package.description | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
