﻿{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                {% if referralLink == null %}
                    <div class="alert-warning alert">
                        <p>Чтобы получить реферальную ссылку, Вам нужно купить продукт</p>
                    </div>
                    {% else %}
                    <p>Реферальная ссылка на вашу сеть:</p>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" id="referralLink"
                                   value="{{ app.request.getSchemeAndHttpHost() ~ path('app_register', {'referral_code': referralLink.referralCode}) }}"                                   aria-label="Recipient's username"
                                   aria-describedby="basic-addon2" disabled>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_scripts %}
{% endblock %}
