{% extends 'client/base.html.twig' %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Цена</th>
                                <th scope="col">Тип</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                {% if isPackageBuy(app.user, product) == false %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price | get_price_with_currency_sign }}</td>
                                    <td>{{ product.tradingType }}</td>
                                    <td>
                                        <a href="{{ path('app.client.marketing.starting_packages.buy', {'package': product.id}) }}">
                                            Подробнее
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-md-12 mb-12" style="margin-top: 50px">
        <h3>Мои пакеты</h3>
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Цена</th>
                                <th scope="col">Тип</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for userPackage in userPackages %}
                                <tr>
                                    <td>{{ userPackage.product.name }}</td>
                                    <td>{{ userPackage.product.price | get_price_with_currency_sign }}</td>
                                    <td>{{ userPackage.product.tradingType }}</td>
                                    <td>
                                        <a href="{{ path('app.client.marketing.starting_packages.info',
                                            {'package': userPackage.product.id}) }}">
                                            Подробнее
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
