{% extends 'base.html.twig' %}

{#{% block header %}{% endblock %}#}

{% block content %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body text-center">
                <h2 class="text-center">Данная ссылка уже была использована</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}