{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block content %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="enter-form orange-border-form">

                    {% if invalide_token == false %}
                        <form method="post">
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <h3 class="h3 mb-3 font-weight-normal text-center orange-border-form-label">
                                Задайте новый пароль
                            </h3>

                            <input type="password" value="" name="password"
                                   id="password" class="form-control input"
                                   placeholder="Введите пароль" required autofocus/>


                            <input type="password" value="" name="password_repeat"
                                   id="password_repeat" class="form-control input"
                                   placeholder="Повторите пароль" required/>

                            <button class="orange-button-rounded-right">
                                Сохранить пароль
                            </button>

                        </form>
                        {% else %}
                            <h2>{{ message }}</h2>
                            <a href="{{ path('app_login') }}" class="b-button-arrow">Войти на сайт?</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}