{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="enter-form orange-border-form">

                    {% if setPasswordForm is defined %}

                        {% else %}
                            <form method="post">
                                {% for message in app.flashes('error') %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                <h3 class="h3 mb-3 font-weight-normal text-center orange-border-form-label">
                                    Введите email, на который зарегестрирован аккаунт
                                </h3>

                                <input type="email" value="" name="email"
                                       id="inputEmail" class="form-control input"
                                       placeholder="Email" required autofocus/>

                                <button class="orange-button-rounded-right">
                                    Сбросить пароль
                                </button>

                            </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}