<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Панель клиента | Optimus</title>

    <!-- Custom fonts for this template-->
    <link href="{{ asset('assets/client/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('assets/client/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/client/css/sidebar.css') }}" rel="stylesheet">
    <style>
        form {
            width: 100%;
        }
    </style>

    {% block custom_styles %}{% endblock %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    {% block sidebar %}
        {% include 'client/partials/sidebar.html.twig' %}
    {% endblock %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {% block top_menu %}
                {% include 'client/partials/top_menu.html.twig' %}
            {% endblock %}

            <div id="content">
                {% block main_content %}
                    <div class="container-fluid">

                        {% set userInviteProductInfo = showByProductNotification(app.user) %}

                        {% if userInviteProductInfo != false %}
                            <div class="alert-warning alert">
                                Купите продукт {{ userInviteProductInfo.product.name }}
                                чтобы присоединиться к бинарной сети пользователя {{ userInviteProductInfo.user.email }}
                            </div>
                        {% endif %}

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">{% block pageTitle %}{{ pageTitle }}{% endblock %}</h1>
                        </div>

                        <!-- Content Row -->
                        <div class="row">
                            {% block content_row %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
                <!-- Begin Page Content -->
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Optimus 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="{{ asset('assets/client/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/client/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
{#<script src="vendor/jquery-easing/jquery.easing.min.js"></script>#}

<!-- Custom scripts for all pages-->
<script src="{{ asset('assets/client/js/custom.min.js') }}"></script>

<!-- Page level plugins -->
{#<script src="vendor/chart.js/Chart.min.js"></script>#}

<!-- Page level custom scripts -->
{#<script src="js/demo/chart-area-demo.js"></script>#}
{#<script src="js/demo/chart-pie-demo.js"></script>#}

{% block custom_scripts %}{% endblock %}
<script>
    $('#sidebarToggle').on('click', function () {
        let toggled = $('#accordionSidebar').hasClass('toggled');
        if (toggled) {
            $('.full-image').hide();
            $('.small-image').show();
        } else {
            $('.full-image').show();
            $('.small-image').hide();
        }
    })
</script>
</body>

</html>
