{% extends 'base.html.twig' %}

{% block content %}
    <section class="b-catalog-full">
        <div class="b-catalog-full__inner">
            {% set current_locale = app.request.locale %}
            <catalog partnershipLink="{{ path('app.front.partnership', {'_locale': current_locale }) }}"></catalog>
            {% include 'front/partials/modals/order_product.html.twig' %}
        </div>
    </section>

{% endblock %}
