{% extends 'base.html.twig' %}

{% block custom_css %}
    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        .active, .accordion:hover {
            background-color: #ccc;
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="b-block-centered">
        <div class="b-block-centered__inner">
            {% for faq in faqs %}
                <button class="accordion">
                    {{ faq.title | upper }}
                </button>
                <div class="panel">
                    <p>
                        {{ faq.description }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block custom_script %}
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
{% endblock %}