{% extends 'base.html.twig' %}

{% block content %}
    <section class="b-home">
        <div class="b-home__inner"><h1 class="b-title">
                Бизнес-платформа<br>
                OPTIMUS
            </h1>
            <p class="b-text _s_lg _max-width _mb">
                Платформа предоставляет рабочие стратегии ведения продаж
                на популярной международной торговой площадке <strong>Amazon.com</strong>.
                Наши инструменты помогут вам достичь финансовой независимости.
            </p>
            <a role="button"
               href="#consultation-modal" rel="modal:open"
               class="b-button-arrow">
                <span>Бесплатная консультация</span>
            </a>

            {% include 'front/partials/modals/consultation.html.twig' %}
            {% include 'front/partials/modals/order_product.html.twig' %}
        </div>
    </section>
    <section class="b-block-centered">
        <div class="b-block-centered__inner"><h2 class="b-title b-text _ta_c">
                Принцип работы<br>
                нейросети OPTIMUS
            </h2>
            <p class="b-text _s_md _max-width_lg _ta_c">
                Уникальная система автоматизированных продаж, разработанная
                специально для площадки <strong>Amazon.com</strong>. Нейросеть сама ищет товары, поставщиков,
                просчитывает логистику, создает листинги и ведет продажи.
                Процесс полностью автоматизирован, происходит практически без вашего участия. Гарантируем вам стабильные доходы уже с первого месяца использования инструмента.

            </p>
            <p class="b-text _s_lg _color_accent _max-width_lg _ta_c">
                Просто. Прозрачно. Надежно.
            </p>
            <div class="b-icons-chain">
                <div class="b-icons-chain__item _find-goods">
                    Поиск товара
                </div>
                <div class="b-icons-chain__item _find-supplier">
                    Поиск поставщика
                </div>
                <div class="b-icons-chain__item _buy">
                    Закуп товара
                </div>
                <div class="b-icons-chain__item _send">
                    Логистика
                </div>
                <div class="b-icons-chain__item _sale">
                    Продажа
                </div>
            </div>
        </div>
    </section>
    <section class="b-catalog">
        <div class="b-catalog__inner">
            <div class="b-catalog__columns">
                <div class="b-catalog__text">
                    <h2 class="b-title">
                        Ассортимент<br>
                        продуктов
                    </h2>
                    <p class="b-text _s_md _max-width">
                        Нейросеть «OPTIMUS» обеспечит вам
                        постоянный доход за счет уникального
                        алгоритма ведения бизнеса.
                    </p>
                    <p class="b-text _s_md _max-width">
                        Образовательные курсы по запуску своего
                        бизнеса на торговой площадке Amazon.com.
                        Разработаны уникальные методики ведения
                        продаж и проверенные на личном опыте.
                    </p>
                </div>
                <div class="b-catalog__products">
                    <products></products>
                </div>
            </div>
        </div>
    </section>
    <div class="b-reviews">
        <reviews></reviews>
    </div>

{% endblock %}
