{% extends 'base.html.twig' %}

{% block content %}
    <section class="b-partnership">
        <div class="b-partnership__inner">
            <div class="b-cols">
                <div class="b-col"><h1 class="b-title">
                        Сотрудничество<br>
                        с OPTIMUS
                    </h1>
                    <p class="b-text _s_lg _max-width _mb">
                        Для ещё более успешного сотрудничества с&nbsp;проектом <strong>Optimus</strong> разработана система
                        вознаграждений наших партнеров за&nbsp;продвижение нашего продукта в&nbsp;массы.
                    </p>
                    <a role="button"
                       href="#consultation-modal" rel="modal:open"
                       class="b-button-arrow">
                        <span>Бесплатная консультация</span>
                    </a>
                </div>
                <div class="b-col b-partnership__image"></div>
            </div>
        </div>
    </section>
    <section class="b-block-centered">
        <div class="b-block-centered__inner">
            <div class="b-partnership__icons"></div>
            <p class="b-text _s_md _max-width_lg _ta_c">
                Наш продукт качественный и не имеет аналогов,
                по-этому вам самим захочется поделиться информацией о нашем сотрудничестве,
                со своими близкими, друзьями, коллегам, а возможно вы охватите огромную аудиторию
                и построите бизнес на продвижении проекта Optimus.
            </p></div>
    </section>
    <section class="b-partnership__numbers">
        <div class="b-numbers">
            <div class="b-numbers__inner">
                <div class="b-numbers__row"></div>
                <div class="b-numbers__row"></div>
            </div>
        </div>
    </section>
    <section class="b-bonuses">
        <div class="b-bonuses__inner"><h2 class="b-title b-text _ta_c">
                Дополнительные Бонусы
            </h2>
            <p class="b-text _s_lg _max-width_lg _ta_c">
                Бонусы от компании Optimus<br>
                за плодотворное сотрудничество в виде:
            </p>
            <div class="b-bonuses__list">
                <div class="b-bonus"><p class="b-text _s_md _fw_b _max-width_sm">Смартфон<br> Apple Iphone XR</p>
                    <p class="b-text _s_md _max-width_sm">За первые 50&nbsp;000&nbsp;$<br> оборота по&nbsp;меньшей из&nbsp;ветвей
                    </p></div>
                <div class="b-bonus"><p class="b-text _s_md _fw_b _max-width_sm">Путевка на отдых<br> для двоих</p>
                    <p class="b-text _s_md _max-width_sm">При обороте в 150&nbsp;000&nbsp;$<br> по&nbsp;меньшей из&nbsp;ветвей
                    </p></div>
                <div class="b-bonus"><p class="b-text _s_md _fw_b _max-width_sm">Macbook Pro<br> + часы Rolex</p>
                    <p class="b-text _s_md _max-width_sm">При обороте в&nbsp;500&nbsp;000&nbsp;$<br> по&nbsp;меньшей из&nbsp;ветвей
                    </p></div>
                <div class="b-bonus"><p class="b-text _s_md _fw_b _max-width_sm">Автомобиль Mercedes<br> E class</p>
                    <p class="b-text _s_md _max-width_sm">При обороте 1&nbsp;000&nbsp;000&nbsp;$<br> по&nbsp;меньшей из&nbsp;ветвей
                    </p></div>
                <div class="b-bonus"><p class="b-text _s_md _fw_b _max-width_sm">Квартира<br> за 300&nbsp;000&nbsp;$</p>
                    <p class="b-text _s_md _max-width_sm">При обороте 3&nbsp;000&nbsp;000&nbsp;$<br> по&nbsp;меньшей из&nbsp;ветвей
                    </p></div>
                <div class="b-bonus"><p class="b-text _s_md _fw_b _max-width_sm">Свыше 5 000&nbsp;000&nbsp;$</p>
                    <p class="b-text _s_md _max-width_sm">Оговариваются особые условия вступления<br> в&nbsp;совет учредителей
                        проекта</p></div>
            </div>
        </div>
    </section>
    <section class="b-motto">
        {% include 'front/partials/modals/consultation.html.twig' %}
        <a role="button" style="text-decoration: none;"
           href="#consultation-modal" rel="modal:open">
            <button type="button" class="b-motto__button">
            <span>
                БЕСПЛАТНАЯ<br>
                КОНСУЛЬТАЦИЯ
            </span>
            </button>
        </a>
        {#<button type="button" class="b-motto__button">#}
            {#<span>#}
                {#БЕСПЛАТНАЯ<br>#}
                {#КОНСУЛЬТАЦИЯ#}
            {#</span>#}
        {#</button>#}
        <p class="b-title _s_lg b-text _ta_c _fw_b">
            Просто. Прозрачно. Надежно.
        </p></section>

{% endblock %}

{% block footer %}{% endblock %}
