@font-face {
    font-family: PT Root UI;
    src: url("../fonts/PT Root UI_Bold.1a300825.eot");
    src: url("../fonts/PT Root UI_Bold.1a300825.eot" ?#iefix) format("embedded-opentype");
    src: url("../fonts/PT Root UI_Bold.3785e0f7.woff") format("woff");
    src: url("../fonts/PT Root UI_Bold.322151af.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: PT Root UI;
    src: url("../fonts/PT Root UI_Medium.16a6dfe4.eot");
    src: url("../fonts/PT Root UI_Medium.16a6dfe4.eot" ?#iefix) format("embedded-opentype");
    src: url("../fonts/PT Root UI_Medium.00ea4fe5.woff") format("woff");
    src: url("../fonts/PT Root UI_Medium.588b7de1.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: PT Root UI;
    src: url("../fonts/PT Root UI_Regular.f7552d29.eot");
    src: url("../fonts/PT Root UI_Regular.f7552d29.eot" ?#iefix) format("embedded-opentype");
    src: url("../fonts/PT Root UI_Regular.a16ca331.woff") format("woff");
    src: url("../fonts/PT Root UI_Regular.7c705bf8.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: PT Root UI;
    src: url("../fonts/PT Root UI_Light.8e404893.eot");
    src: url("../fonts/PT Root UI_Light.8e404893.eot" ?#iefix) format("embedded-opentype");
    src: url("../fonts/PT Root UI_Light.8e12916d.woff") format("woff");
    src: url("../fonts/PT Root UI_Light.02cfc3db.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

.b-layout {
    min-width: 75em
}

.b-row {
    margin: 40px 0
}

.b-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -12px
}

.b-cols._mt {
    margin-top: 12px
}

.b-col {
    margin: 12px
}

.b-block-centered__inner {
    max-width: 96em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 120px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.b-catalog {
    position: relative;
    background: url(../img/catalog-bg.153abb7e.svg) 100%/auto 75% no-repeat, #f2f2f2
}

.b-catalog__inner {
    max-width: 96em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 120px 40px
}

.b-catalog__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.b-catalog__text {
    margin-right: 70px
}

@media (min-width: 75em) {
    .b-catalog__text {
        margin-right: 100px
    }
}

@media (min-width: 105em) {
    .b-catalog__text {
        margin-right: 144px
    }
}

.b-catalog__products {
    min-width: 680px;
    overflow: hidden
}

.b-catalog-full {
    position: relative;
    background: #f2f2f2;
    overflow: hidden
}

.b-catalog-full__inner {
    max-width: 85em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 120px 40px
}

body {
    line-height: 1.25
}

body, body button {
    font-family: PT Root UI, sans-serif
}

.b-title, h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    margin: 0 0 1em
}

.b-text._s_md {
    font-size: 20px;
    line-height: 30px
}

.b-text._s_lg {
    font-size: 30px;
    line-height: 40px
}

.b-text._fw_l {
    font-weight: 300
}

.b-text._fw_n {
    font-weight: 400
}

.b-text._fw_md {
    font-weight: 500
}

.b-text._fw_b {
    font-weight: 700
}

.b-text._ta_c {
    text-align: center
}

.b-text._color_accent {
    color: #ffb000
}

.b-text._max-width {
    max-width: 620px
}

.b-text._max-width_sm {
    max-width: 240px
}

.b-text._max-width_md {
    max-width: 620px
}

.b-text._max-width_lg {
    max-width: 800px
}

.b-text._mb {
    margin-bottom: 60px
}

.b-button-link {
    background: transparent;
    border: none;
    padding: 0;
    color: #ffb000;
    text-transform: uppercase
}

.b-button-link:not([disabled]) {
    cursor: pointer
}

.b-button-link [disabled] {
    opacity: .5
}

.b-button-arrow {
    position: relative;
    padding: 4px 84px 4px 30px;
    height: 74px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    background: #ffb000;
    border: none;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase
}

.b-button-arrow:not([disabled]) {
    cursor: pointer
}

.b-button-arrow:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    border: 6px solid #fff;
    border-radius: 999px;
    background: url(../img/button-arrow.79aedcb3.svg) 50% no-repeat
}

.b-button-arrow:after, .b-button-order {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.b-button-order {
    padding: 16px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ffb000;
    border: none;
    color: #fff;
    font-size: 20px;
    line-height: 1
}

.b-button-order:not([disabled]) {
    cursor: pointer
}

.b-button-icon {
    width: 32px;
    height: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: none
}

.b-button-icon:not([disabled]) {
    cursor: pointer
}

.b-button-icon._arrow-left, .b-button-icon._arrow-right {
    border-radius: 999px;
    background: #222f3c url(../img/icon__arrow-right-fff.a38b9e43.svg) 50% no-repeat
}

.b-button-icon._arrow-left {
    -webkit-transform: scale(-1);
    transform: scale(-1)
}

.b-header {
    padding: 40px 0;
    min-height: 111px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.b-header__inner {
    max-width: 105em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2px 40px 0
}

.b-header__inner, .b-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.b-header__menu {
    margin: -4px -6px
}

@media (min-width: 80em) {
    .b-header__menu {
        margin: -4px -16px
    }
}

.b-header__item {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #4d4d4d;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 0;
    margin: 4px 6px
}

@media (min-width: 80em) {
    .b-header__item {
        margin: 4px 16px
    }
}

.b-header__item._lang {
    color: #999;
    padding-left: 24px
}

@media (min-width: 80em) {
    .b-header__item._lang {
        padding-left: 64px
    }
}

.b-header__item:hover:not(.router-link-exact-active) {
    text-decoration: underline
}

.b-header__item.router-link-exact-active {
    font-weight: 700
}

.b-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 228px;
    height: 31px;
    background: url(../img/logo.df448a1f.svg) 50% no-repeat
}

.b-footer {
    padding: 40px 0;
    min-height: 111px;
    color: #fff;
    background: #262626
}

.b-footer, .b-footer__inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.b-footer__inner {
    max-width: 105em;
    margin: 0 auto;
    padding: 2px 40px 0
}

.b-footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: url(../img/footer-icons.svg) 100% 0 no-repeat;
    margin: 0 0 24px
}

.b-footer__item {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0 48px 12px 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none
}

.b-footer__copyright {
    color: #7f7f7f;
    border-top: 1px solid #7f7f7f;
    padding: 32px 0 0;
    font-size: 13px;
    font-weight: 500
}

.b-footer__copyright a {
    color: #7f7f7f;
    margin-left: 24px;
    text-decoration: none
}

.b-form {
    background: url(../img/form-circles-bg.d79a95ce.svg) 50%/contain no-repeat
}

.b-form, .b-form__inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.b-form__inner {
    width: 400px;
    min-height: 300px;
    background: #fff;
    border: 4px solid #ffb000;
    border-radius: 3px;
    padding: 24px 80px 48px;
    margin: 40px auto
}

.b-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: -12px
}

.b-form__row {
    margin: 12px
}

.b-input {
    padding: 0 0 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    outline: none;
    font-size: 20px;
    line-height: 1
}

.b-input:focus {
    border-bottom-color: #fd9727
}

.b-input::-webkit-input-placeholder {
    color: #ccc
}

.b-input::-moz-placeholder {
    color: #ccc
}

.b-input:-ms-input-placeholder {
    color: #ccc
}

.b-input::-ms-input-placeholder {
    color: #ccc
}

.b-input::placeholder {
    color: #ccc
}

.b-form__text {
    font-size: 14px;
    color: #999
}

.b-home {
    position: relative;
    min-height: 1000px;
    background: url(../img/home-bg.d27f603b.jpg) 50%/cover no-repeat;
    margin-bottom: 65px
}

.b-home:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    width: 130px;
    height: 130px;
    background: url(../img/home-circle.e5baadac.svg) 50%/contain no-repeat
}

.b-home__inner {
    max-width: 96em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 120px 40px
}

.b-icons-chain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 28px -5vw -12px
}

.b-icons-chain__item {
    position: relative;
    color: #4d4d4d;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    padding: 108px 0 0;
    margin: 12px 5vw
}

.b-icons-chain__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 84px;
    background: 50% no-repeat
}

.b-icons-chain__item._find-goods {
    min-width: 89px
}

.b-icons-chain__item._find-goods:before {
    width: 89px;
    background-image: url(../img/icon__find-goods.6f84468c.svg)
}

.b-icons-chain__item._find-supplier {
    min-width: 108px
}

.b-icons-chain__item._find-supplier:before {
    width: 108px;
    background-image: url(../img/icon__find-supplier.21efe176.svg)
}

.b-icons-chain__item._buy {
    min-width: 50px
}

.b-icons-chain__item._buy:before {
    width: 50px;
    background-image: url(../img/icon__buy.e08b3f91.svg)
}

.b-icons-chain__item._send {
    min-width: 71px
}

.b-icons-chain__item._send:before {
    width: 71px;
    background-image: url(../img/icon__send.d1d418d0.svg)
}

.b-icons-chain__item._sale {
    min-width: 82px
}

.b-icons-chain__item._sale:before {
    width: 82px;
    background-image: url(../img/icon__sale.d9c95ef4.svg)
}

.b-icons-chain__item:not(:last-child):after {
    content: "";
    position: absolute;
    top: 42px;
    right: -5vw;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    width: 16px;
    height: 25px;
    background: url(../img/divider.ad19c738.svg) 50% no-repeat
}

.b-products__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -4px -64px 116px;
    z-index: 12
}

.b-products__nav:not(._wide) {
    margin-left: -4px
}

@media (min-width: 105em) {
    .b-products__nav:not(._wide) {
        margin-left: 8px
    }
}

.b-products__nav._wide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.b-products__sort-divider {
    background: #ccc;
    width: 2px
}

.b-products__sort {
    margin: 4px 64px;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 12
}

.b-products__sort span {
    display: block;
    font-size: 25px;
    line-height: 1;
    color: #ccc;
    padding: 12px 0;
    border-bottom: 2px solid transparent
}

.b-products__sort._current span, .b-products__sort:hover span {
    color: #333;
    border-bottom-color: #fd9727
}

.b-products__sort:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3
}

.b-products__sort._current:before, .b-products__sort:hover:before {
    opacity: 1
}

.b-products__sort._neural-network {
    padding-left: 71px
}

.b-products__sort._neural-network:before {
    width: 51px;
    height: 54px;
    background-image: url(../img/icon__neural-network.98e49d50.svg)
}

.b-products__sort._education {
    padding-left: 78px
}

.b-products__sort._education:before {
    width: 58px;
    height: 55px;
    background-image: url(../img/icon__education.015602fa.svg)
}

.b-products__card {
    position: relative;
    z-index: 10
}

.b-product__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.b-product__slider._wide {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.b-product__image {
    position: relative;
    min-width: 360px;
    width: 360px;
    height: 477px;
    margin-right: 24px;
    background: 50% no-repeat
}

@media (min-width: 105em) {
    .b-product__image {
        margin-right: 48px;
        min-width: 380px;
        width: 380px
    }
}

.b-product__image._clean {
    width: 578px;
    height: 620.1px;
    margin-right: 48px
}

.b-product__image._minimal {
    background-image: url(../img/minimal.8effd680.svg)
}

.b-product__image._minimal._clean {
    background-image: url(../img/minimal.3652a0fa.svg);
    background-size: 468px 620.1px
}

.b-product__image._middle {
    background-image: url(../img/middle.021606d6.svg)
}

.b-product__image._middle._clean {
    background-image: url(../img/middle.2be80a67.svg);
    background-size: 468px 620.1px
}

.b-product__image._expert {
    background-image: url(../img/expert.ce2ef205.svg)
}

.b-product__image._expert._clean {
    background-image: url(../img/expert.df5a796e.svg);
    background-size: 468px 620.1px
}

.b-product__image._online_arbitrage {
    background-image: url(../img/online_arbitrage.80484a69.svg)
}

.b-product__image._online_arbitrage._clean {
    background-image: url(../img/online_arbitrage.a397ebf0.svg);
    background-size: 468px 620.1px
}

.b-product__image._private_label {
    background-image: url(../img/private_label.e33ab5c1.svg)
}

.b-product__image._private_label._clean {
    background-image: url(../img/private_label.56726011.svg);
    background-size: 468px 620.1px
}

.b-product__image._personal_consultations {
    background-image: url(../img/personal_consultations.e2f8b8f2.svg)
}

.b-product__image._personal_consultations._clean {
    background-image: url(../img/personal_consultations.944139db.svg);
    background-size: 468px 620.1px
}

.b-product__background {
    position: absolute;
    top: -160px;
    left: -160px;
    width: 892px;
    height: 845px;
    background: url(../img/product-image-bg.dc5f97f0.svg) 50% no-repeat
}

.b-product__sidebar {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    width: 380px
}

.b-product__sidebar._wide {
    -webkit-box-flex: 1;
    -ms-flex: auto 0 0px;
    flex: auto 0 0;
    width: 440px
}

.b-sidebar__row {
    border-top: 1px solid #ccc;
    padding: 24px 0
}

.b-product__table tr td {
    padding: 4px 0
}

.b-product__table tr td:first-child {
    width: 200px
}

._wide .b-product__table tr td:first-child {
    width: 240px
}

.b-product__table tr td:last-child {
    padding-left: 8px
}

.b-product__arrows, .b-product__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.b-product__arrows {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(calc(-50% - 24px));
    transform: translateY(calc(-50% - 24px));
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.b-product__description {
    max-width: 96em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-top: 80px;
    z-index: 13
}

.b-reviews {
    padding: 120px 0
}

.b-reviews__inner {
    position: relative;
    max-width: 105em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 120px 40px 0
}

.b-reviews__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -32px
}

.b-review {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    min-width: calc(33.3% - 64px);
    margin: 32px;
    min-height: 252px
}

.b-review, .b-review:after, .b-review:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.b-review:after, .b-review:before {
    content: "";
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 999px
}

.b-review:before {
    top: 0;
    right: 40px;
    width: 120px;
    height: 120px;
    border: 8px solid #ffb000
}

.b-review:after {
    top: 0;
    right: 50px;
    width: 100px;
    height: 100px;
    background: 50%/cover no-repeat
}

.b-review._1:after {
    background-image: url(../img/1.874a31c1.jpg)
}

.b-review._2:after {
    background-image: url(../img/2.9617b778.jpg)
}

.b-review._3:after {
    background-image: url(../img/3.5f8850af.jpg)
}

.b-review._4:after {
    background-image: url(../img/4.adb34555.jpg)
}

.b-review._5:after {
    background-image: url(../img/5.5f943c4b.jpg)
}

.b-review._6:after {
    background-image: url(../img/6.e2c7766b.jpg)
}

.b-review__inner {
    background: #fff;
    -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, .2));
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .2));
    border-radius: 5px;
    padding: 24px 40px
}

.b-reviews__nav {
    max-width: 200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.b-partnership, .b-reviews__nav {
    position: relative
}

.b-partnership__inner {
    max-width: 96em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 120px 40px 0
}

.b-partnership__image {
    width: calc(50% - 48px);
    min-height: 300px;
    background: url(../img/hands.fa1a670e.jpg) 50%/contain no-repeat
}

.b-partnership__icons {
    width: 100%;
    min-height: 526px;
    background: url(../img/icons.296833ac.svg) top/contain no-repeat
}

.b-partnership__numbers {
    max-width: 1920px;
    width: 100%;
    padding-top: 1000px;
    background: url(../img/numbers.e72a808f.svg) top/contain no-repeat, #f2f2f2
}

.b-numbers, .b-partnership__numbers {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.b-numbers {
    max-width: 1600px;
    padding-bottom: 200px
}

.b-numbers__inner {
    max-width: 105em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1600px;
    background: url(../img/circle.e591ae73.svg) 50%/contain no-repeat;
    padding: 0 40px
}

.b-numbers__row {
    position: relative;
    background: center 40px no-repeat
}

.b-numbers__row:after, .b-numbers__row:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: 0 0/contain no-repeat
}

.b-numbers__row:after {
    left: auto;
    right: 0
}

.b-numbers__row:first-child {
    height: 794px;
    background-image: url(../img/row_1_number.f92a26a8.svg);
    margin-bottom: 200px
}

.b-numbers__row:first-child:before {
    width: 468.33333px;
    height: 625px;
    background-image: url(../img/row_1_a.cc67f549.svg)
}

@media (min-width: 1440px) {
    .b-numbers__row:first-child:before {
        width: 562px;
        height: 750px
    }
}

.b-numbers__row:first-child:after {
    top: 59px;
    width: 516.66667px;
    height: 612.5px;
    background-image: url(../img/row_1_b.fa1b899c.svg)
}

@media (min-width: 1440px) {
    .b-numbers__row:first-child:after {
        width: 620px;
        height: 735px
    }
}

.b-numbers__row:nth-child(2) {
    height: 828px;
    background-image: url(../img/row_2_number.cb034f13.svg)
}

.b-numbers__row:nth-child(2):before {
    width: 338.46154px;
    height: 630.76923px;
    background-image: url(../img/row_2_a.64575d79.svg)
}

@media (min-width: 1440px) {
    .b-numbers__row:nth-child(2):before {
        width: 440px;
        height: 820px
    }
}

.b-numbers__row:nth-child(2):after {
    top: 8px;
    width: 615.38462px;
    height: 625.38462px;
    background-image: url(../img/row_2_b.7884a919.svg)
}

@media (min-width: 1440px) {
    .b-numbers__row:nth-child(2):after {
        width: 800px;
        height: 813px
    }
}

.b-bonuses {
    background: #f2f2f2
}

.b-bonuses__inner {
    max-width: 1440px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.b-bonuses__inner, .b-bonuses__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.b-bonuses__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -12px
}

.b-bonus {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    min-width: calc(33.3% - 24px);
    margin: 12px;
    min-height: 252px;
    padding-left: 160px;
    background: 0 0/160px no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 1440px) {
    .b-bonus {
        padding-left: 200px;
        background-size: 200px
    }
}

.b-bonus:first-child {
    background-image: url(../img/icon_1.0c4cb03f.png)
}

.b-bonus:nth-child(2) {
    background-image: url(../img/icon_2.9e6f7d95.png)
}

.b-bonus:nth-child(3) {
    background-image: url(../img/icon_3.f5ff6bce.png)
}

.b-bonus:nth-child(4) {
    background-image: url(../img/icon_4.ba5e4848.png)
}

.b-bonus:nth-child(5) {
    background-image: url(../img/icon_5.eba7bb74.png)
}

.b-bonus:nth-child(6) {
    background-image: url(../img/icon_6.2ec83dc1.png)
}

.b-motto {
    color: #fff;
    background: #ffb000;
    padding: 160px 40px 200px
}

.b-motto__button {
    display: block;
    width: 458px;
    height: 458px;
    border: none;
    color: #fff;
    font-size: 20px;
    background: url(../img/circles-fff.b5dcc83d.svg) 50%/contain no-repeat;
    cursor: pointer;
    margin: 0 auto 40px;
    padding: 220px 0 0
}
