{% extends 'client/base.html.twig' %}

{% block content_row %}
    {% for newsItem in newsList %}
        <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-left-primary" style="height:35rem;">
                <img class="card-img-top" src="{{ vich_uploader_asset(newsItem, 'imageFile') }}">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-12">
                            <h4 class="card-title h4">{{ newsItem.title }}</h4>
                            <small><i class="fa fa-clock"></i> {{ newsItem.createdAt | date('d.m.Y') }}</small>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('app.client.news.article', {'slug': newsItem.slug}) }}">Read article</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}