{% extends 'client/base.html.twig' %}

{% block pageTitle %}{% endblock %}

{% block content_row %}
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-sm-12">
                        <h4 class="card-title h4">{{ article.title }}</h4>
                        <small><i class="fa fa-clock"></i> {{ article.createdAt | date('d.m.Y') }}</small>
                        <p>
                            {{ article.content }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="{{ path('app.client.news.list') }}">Go back</a>
            </div>
        </div>
    </div>
{% endblock %}