.hide-desctop {
    display: none !important;
}

.container-header-cab {
    background-color: #12aaeb;
    height: 54px;
}

.container-header-cab .cabinet-logo img {
    width: 69px;
    vertical-align: middle;
}

.cab-nav li {
    list-style: none;
    display: inline-block;
}
header .pari-sport {
    border: 1px solid #fff;
    padding: 0 14px;
    width: 130px;
    background-color: #60cc34;
    text-decoration: none;
    color: #ffffff;
    margin-left: -1px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: Roboto-Light, sans-serif;
    height: 31px;
    line-height: 14px;
}
/*.cab-nav a {*/
/*text-decoration: none;*/
/*color: #fff;*/
/*font-size: 14px;*/
/*position: relative;*/
/*padding-left: 10px;*/
/*padding-right: 10px;*/
/*padding-top: 0;*/
/*padding-bottom: 0;*/
/*font-family: "HelveticaNeueLight", sans-serif;*/
/*display: inline-block;*/
/*}*/

header .flex-wrapper {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
}

.choose-lang-cab button {
    width: 25px;
    height: 16px;
    border: none;
    margin-top: 0;
    margin-left: 25px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.choose-lang-cab .hidden-lang-list a {
    display: block;
    width: 25px;
    height: 16px;
    margin-top: 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.choose-lang-cab {
    position: relative;
    display: inline-flex;
}
.choose-lang-cab .lang-en {
    background: url(/img/flags/en.png) -1px -1px no-repeat;
}

.choose-lang-cab .lang-es {
    background: url(/img/flags/es.png) no-repeat;
}

.choose-lang-cab .lang-kk {
    background: url(/img/flags/kk.png) no-repeat;
}

.choose-lang-cab .lang-pt {
    background: url(/img/flags/pt.png) no-repeat;
}

.choose-lang-cab .lang-ru {
    background: url(/img/flags/ru.png) no-repeat;
}
.choose-lang-cab .lang-tr {
    background: url(/img/flags/tr.png) no-repeat;
}
.choose-lang-cab .hidden-lang-list {
    width: 25px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 11;
    position: absolute;
    left: 25px;
    top: 16px;
}
.choose-lang-cab .hidden-lang-list.hide-list {
    display: none;
}
.choose-lang-cab .hidden-lang-list.show-list {
    display: block;
}
.cab-nav.show-menu {
    height: 54px;
    line-height: 54px;
}
.log-enter-cab {
    margin-top: 11px;
    text-align: right;
}
.log-enter-cab .usr-avatar {
    color: #fff;
    font-size: 14px;
    font-family: "Roboto-Regular", sans-serif;
}
.usr-avatar img {
    width: 34px !important;
    height: 34px !important;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px !important;
}
.cab-nav ul {
    margin: 0;
    float: right;
    padding: 0;
}
.cab-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 0;
    /*font-family: "HelveticaNeueLight", sans-serif;*/
    font-family: Roboto-Light, sans-serif;
    display: inline-block;
    border: 1px solid transparent;
    height: 31px;
    line-height: 31px;
}
/*.usr-avatar {*/
/*padding-right: 10px;*/
/*z-index: 999999;*/
/*position: relative;*/
/*margin-right: -10px;*/
/*}*/

header.header {
    padding-left: 0;
}
a.usr-avatar:hover {
    color: #d3f2ff;
}
.header-logo-cab{
    margin-left: 0;
    display: inline-block;
}
.cab-nav li {
    list-style: none;
    display: inline-block;
}
.log-enter-cab {
    position: relative;
    text-align: right;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-header-cab {
    background-color: #12aaeb;
    font-size: 16px;
    line-height: normal;
    padding-top: 0;
    padding-bottom: 0;
}

.popover {
    max-width: 600px;
}

ol, ul {
    list-style: none;
    margin-bottom: 0;
}


footer {
    background-color: #262626;
    padding: 0 0 18px;
    z-index: 9999999;
    position: relative; }
footer .container *:after, footer .container *:before {
    display: none; }
footer .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 15px;
    border-bottom: 1px solid #999999;
    margin: 0; }
footer .container .row:first-child ul {
    display: flex;
    align-items: center; }
footer .container .row:first-child ul li {
    margin-right: 53px; }
footer .container .row:first-child ul li:last-child {
    margin-right: 0; }
footer .container .row:first-child ul li a {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: normal;
    color: #ffffff; }
footer .container .row:first-child ul.right-list li {
    margin-right: 30px;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #999999;
    line-height: 1.25; }
footer .container .row:first-child ul.right-list li:nth-child(3) {
    display: flex;
    align-items: center;
    font-size: 8px; }
footer .container .row:first-child ul.right-list li:nth-child(3) img {
    margin-right: 11px; }
footer .container .row:first-child ul.right-list li:nth-child(4) {
    display: flex;
    align-items: center; }
footer .container .row:first-child ul.right-list li:nth-child(4) a {
    height: 19px;
    line-height: 19px; }
footer .container .row:first-child ul.right-list li:nth-child(5) {
    display: flex;
    align-items: center; }
footer .container .row:first-child ul.right-list li:nth-child(5) a {
    height: 19px;
    line-height: 19px; }
footer .container .row:first-child ul.right-list li:last-child {
    display: flex;
    align-items: center;
    margin-right: 0; }
footer .container .row:first-child ul.right-list li:last-child a {
    height: 19px; }
footer .container .row:last-child {
    border-bottom: none; }
footer .container .row:last-child p {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    margin-bottom: 0; }
footer .container .row:last-child ul {
    display: flex;
    align-items: center; }
footer .container .row:last-child ul li {
    margin-right: 43px; }
footer .container .row:last-child ul li:last-child {
    margin-right: 0; }
footer .container .row:last-child ul li a {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }
footer .container .row:last-child ul.list li {
    margin-right: 25px; }
footer .container .row:last-child ul.list li:nth-child(6) {
    margin-right: 57px; }
footer .container .row:last-child ul.list li:last-child {
    margin-right: 0; }



.cab-content.error-page {
    background-color: #fefefe;
    padding: 0 20px;
    margin: 0;
    min-height: calc(100vh - 114px);
    width: 100%;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-title {
    margin: 0;
}
.error-title .big {
    font-size: 132px;
    font-weight: 700;
    font-family: HelveticaNeueBold, sans-serif;
    margin-right: 15px;
}
.error-title .small {
    font-size: 50px;
    line-height: 44px;
    font-family: HelveticaNeueBold, sans-serif;
    color: #373737;
}
.error-logo {
    margin-right: 50px;
    animation-name: error;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transform-origin: center center;
    margin-top: -10px;
}
/*.cab-nav a {*/
/*text-decoration: none;*/
/*color: #fff;*/
/*font-size: 14px;*/
/*position: relative;*/
/*padding-left: 14px;*/
/*padding-right: 14px;*/
/*font-family: "HelveticaNeueLight", sans-serif;*/
/*display: inline-block;*/
/*height: 31px;*/
/*line-height: 31px;*/
/*}*/
.my-business {
    height: 31px;
    line-height: 31px;
    border: 1px solid #ffffff !important;
}
.my-business:hover {
    background-color: #ffffff;
    color: #12aaeb !important;
}
@keyframes error {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-height: 550px) {
    .cab-content.error-page {
        min-height: calc(100vh);
    }
}
@media screen and (max-height: 600px) {
    .cab-content.error-page {
        min-height: calc(100vh);
    }

    .cab-content.error-page {
        min-height: calc(100vh - 114px);
    }
}

@media screen and (max-width: 1024px) {
    footer .container .row:first-child ul li {
        margin-right: 25px; }
    footer .container .row:first-child ul.right-list li {
        margin-right: 15px; }
    footer .container .row:last-child ul.list li {
        line-height: .9; }
    footer .container .row:last-child ul.list li:nth-child(6) {
        margin-right: 25px; }
    footer .container .row:last-child ul.list li a {
        line-height: normal; }
    footer .container .row:last-child ul li a {
        line-height: 1.2; }
    footer .container .row:last-child p {
        line-height: normal; } }

@media screen and (max-width: 992px) {
    .cab-nav a {
        padding: 0 10px;
        font-size: 12px;
    }

    .usr-avatar img {
        display: none;
    }
    .log-enter-cab {
        margin-top: 17px;
    }
    .log-enter-cab .glyphicon {
        position: absolute;
        right: -25px;
        top: 2px;
    }
}
@media screen and (max-width: 768px) {
    .log-enter-cab {
        padding-right: 0;
        margin-top: 0;
        height: 54px;
        display: flex;
        display: -ms-flexbox;
        align-items: center;
        justify-content: flex-end;
    }
    .log-enter-cab .usr-avatar {

    }
    .logo-wrap .cabinet-logo img {
        width: 70px;
    }
    .choose-lang-cab button {
        margin-left: 10px;
    }
    .choose-lang-cab .hidden-lang-list {
        left: 10px;
    }
    .log-enter-cab .usr-avatar > div {
        display: none !important;
    }
    footer {
        margin-top: auto;
        padding-bottom: 0;
        width: 100%; }
    footer .container {
        padding: 0 15px;
        flex-direction: column; }
    footer .container .row {
        padding: 15px 0; }
    footer .container .row:first-child {
        padding: 10px 0; }
    footer .container .row:first-child ul {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5px !important;
        margin-bottom: 5px !important; }
    footer .container .row:first-child ul:first-child {
        display: none; }
    footer .container .row:first-child ul.right-list li {
        width: 50%; }
    footer .container .row:first-child ul.right-list li:first-child {
        order: 0;
        width: 100%; }
    footer .container .row:first-child ul.right-list li:nth-child(4) {
        display: none; }
    footer .container .row:first-child ul.right-list li:nth-child(5) {
        display: none; }
    footer .container .row:last-child {
        flex-direction: column-reverse;
        flex-wrap: wrap; }
    footer .container .row:last-child ul {
        width: 100%;
        margin-top: 0;
        align-items: flex-start;
        justify-content: flex-start; }
    footer .container .row:last-child ul li {
        margin-top: 5px !important;
        margin-bottom: 5px !important; }
    footer .container .row:last-child ul li:first-child {
        order: 0; }
    footer .container .row:last-child ul li a, footer .container .row:last-child ul li p {
        font-family: AvenirNextCyr-Regular, sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.8;
        letter-spacing: normal;
        text-align: left;
        color: #999999;
        text-transform: none; }
    footer .container .row:last-child ul li p {
        line-height: 1; }
    footer .container .row:last-child ul:last-child {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
    footer .container .row:last-child ul:last-child .social-icons li {
        display: block; }
    footer .container .row:last-child ul:last-child .social-icons li:last-child {
        display: block; }
    footer .container .row:last-child ul .social-icons {
        position: absolute;
        width: auto;
        right: 16px;
        bottom: 46px; }
    footer .container .row:last-child ul .social-icons li {
        display: block;
        margin-right: 20px !important; }
    footer .container .row:last-child ul .social-icons li:last-child {
        display: block;
        margin-right: 0 !important; }
    .hide-desctop {
        display: block !important; }
}
@media screen and (max-width: 470px) {

    .cab-nav.show-menu {
        display: none;
    }
}