.product-slider-tab-bar {
    margin-bottom: 50px;
    font-size: 18px;
    min-height: 80px;
}

.product-slider-tab-bar .switch-tab {
    background-color: transparent;
    opacity: 0.4;
}

.product-slider-tab-bar .switch-tab .switch-tab-image {
    width: 25%;
    margin-right: 10px;
    min-height: 42px;
}
.product-slider-tab-bar .active-tab {
    border-bottom: 2px solid;
    border-color: #ffb000;
    color: #000000;
    opacity: 1;
}

.product-slider-tab-bar .switch-tab:hover {
    background-color: transparent !important;
    border-bottom: 2px solid;
    border-color: #ffb000;
    opacity: 1;
}

.product-slider .single-product-slide {
    outline: none;
}

.product-flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-flex-grid .product-flex-col {
    flex: 1 0 30%;
    margin: 30px 0px 30px 30px;
}

.product-flex-grid .product-flex-col img {
    width: 50%;
}

.orange-button-rounded-right {
    width: 100%;
    display: block;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff !important;
    padding: 15px 0 15px 15px;
    border: 1px solid #ffb000;
    border-radius: 0 50px 50px 0;
    background: #ffb000 url(../img/arrow_right_rounded_white_1.png) no-repeat right;
    cursor: pointer;
    background-position-x: 97%;
    font-weight: 600;
    background-size: 35px;
}

.orange-button-rounded-right-half-width {
    width: 50%;
}

.orange-border-form {
    padding: 50px 40px;
    min-height: 450px;
    border: 5px solid orange;
    border-radius: 5px;
    width: 350px;
    margin: 0 auto;
}

.orange-border-form  .orange-border-form-label {
    line-height: 1.5;
    margin: 0 0 40px 0;
    font-weight: 600;
}

.orange-border-form  .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(72, 72, 72, 0.35);
    display: block;
    padding: 0 2px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 44px;
    width: 100%;
    position: relative;
    z-index: 9999;
    font-size: 18px;
    font-family: AvenirNextCyr-Regular, sans-serif;
}

.form-container {
    padding: 5% 0;
}

.login-container .enter-links {
    margin: 25px 0;
}

.forgot-password {
    font-size: 14px;
    padding: 0 0 0 20px;
}

.register-small-text {
    font-size: 12px;
    margin: 20px 0 0 0;
}
.register-small-text a{
    color: #ffb000 !important;
    font-size: 12px !important;
}
.login-container .enter-links a{
    color: #ffb000 !important;
}

.main-banner h1 {
    font-size: 50pt !important;
}

.main-banner p {
    font-size: 30pt !important;
}

.main-banner p {
    font-size: 20pt !important;
}
single-product-slide
.info-block h2 {
    font-size: 50pt !important;
}

.info-block h3 {
    font-size: 30pt !important;
    color: #ffb000 !important;
}

.info-block p {
    font-size: 20pt !important;
}

.slider-product-name-label {
    font-size: 210pt !important;
    color: #e6e6e6 !important;
    font-weight: bold !important;
    line-break: strict;
}

.next-arrow-custom {
     position: absolute;
     top: 100%;
     right: 44%;
}

.prev-arrow-custom {
    position: absolute;
    top: 100%;
    left: 46%;
}

.category-container {
    padding: 70px 70px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.green-column {
    background-color: green;
    height: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.orange-column {
    background-color: #ffb000;
    height: 100px;
}

.blue-column {
    background-color: blue;
    height: 100px;
}

.green-column {
    background-color: green;
    height: 100px;
}

.catalog-slider-box {
    outline: none;
}


.single-slide-photo {
    width: 40%;
}

.single-slide-descr {}

.single-slide-descr .title {
    font-size: 20pt;
    padding: 20px 0;
    font-weight: bold;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.single-slide-descr .sub-title {
    font-size: 12pt;
    padding: 20px 0 0 0;
    font-weight: bold;
}

.product-slider-single-product-description {
    padding-top: 200px;
}

.product-slider-single-product-description h3{
    font-weight: 600 !important;
    margin-bottom: 20px;
}

.bonus-info {
    margin-top: 20px;
}

.product-slider-single-product-description p {
margin-left: 0 !important;
}

.content-box-title {
    font-weight: 600 !important;
    color: #000000 !important;
    padding-bottom: 50px;
}

#slider-box {
    padding-top: 150px;
}

#product-sign-box {
    padding-bottom: 150px;
}

#product-label-box {
    padding-left: 8%;
    padding-top: 5%;
}

.price-block {
    line-height: 1;
}

#main-page-product-slider-label {
    letter-spacing: -15px;
}

.info-block {
    padding: 15% 0 !important;
}

.info-block-label {
    font-weight: 600 !important;
}

.forms-flex-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
