@font-face {
    font-family: RootUI;
    font-style: normal;
    src: url(../fonts/root_ui.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: RootUI, sans-serif !important;
    vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1;
    font-family: RootUI, sans-serif !important;
}

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

a, a:hover, a:focus {
    text-decoration: none; }

input, select, textarea {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

input:focus, a:focus {
    outline: none; }

select {
    cursor: pointer; }

button {
    padding: 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

input[type="number"] {
    -moz-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none; }

svg {
    transition: none; }
svg * {
    transition: none; }
svg path {
    transition: none; }

/*@font-face {*/
    /*font-family: Montserrat-Medium;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/Montserrat-Medium.ttf);*/
    /*font-weight: 500; }*/

/*@font-face {*/
    /*font-family: Montserrat-Bold;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/Montserrat-Bold.ttf);*/
    /*font-weight: 600; }*/

/*@font-face {*/
    /*font-family: AvenirNextCyr-Regular;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Regular.eot);*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Regular.woff) format("woff"), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Regular.ttf) format("truetype");*/
    /*font-weight: 600; }*/

/*@font-face {*/
    /*font-family: AvenirNextCyr-Heavy;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Heavy.eot);*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Heavy.ttf) format("truetype");*/
    /*font-weight: 900; }*/

/*@font-face {*/
    /*font-family: AvenirNextCyr-Medium;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Medium.ttf), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Medium.eot), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Medium.woff);*/
    /*font-weight: 500; }*/

/*@font-face {*/
    /*font-family: AvenirNextCyr-Bold;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Bold.ttf), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Bold.eot), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Bold.woff);*/
    /*font-weight: 600; }*/

/*@font-face {*/
    /*font-family: AvenirNextCyr-Demi;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Demi.ttf), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Demi.eot), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Demi.woff);*/
    /*font-weight: 600; }*/

/*@font-face {*/
    /*font-family: AvenirNextCyr-Light;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Light.ttf), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Light.eot), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-Light.woff);*/
    /*font-weight: 300; }*/

/*@font-face {*/
    /*font-family: AvenirNextCyr-LightItalic;*/
    /*font-style: normal;*/
    /*src: url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-LightItalic.ttf), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-LightItalic.eot), url(/data/fonts/tiki.landing/landing-2019/AvenirNextCyr-LightItalic.woff);*/
    /*font-weight: 300; }*/

* {
    transition: .2s;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.text-center {
    text-align: center; }

.text-uppercase {
    text-transform: uppercase; }

.container-fluid {
    width: 100%; }

.product-carousel-block {
    background-color: #f2f2f2
}

.slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
.prev-arrow{
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.next-arrow{
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.slider-box {
    /*display: flex;*/
    display: -webkit-box;
    align-items: center;
    justify-content: center;
}


.slider-box  div {
    height: 100%;
}

.content-box {
    padding: 0 10%;
}

.category-content-box {
    padding: 0 15%;
}

.slider-box  div#content {
    width: 40%;
}
.slider-box  div#slider{
    width: 60%;
}


.single-product-slide {
    display: flex !important;
    flex-direction: row;
}

.single-product-slide .single-slide-photo {
    width: 40%;
    margin-right: 30px;
}

.single-product-slide .single-slide-descr {
    width: 55%;
    margin-left: 50px;
}

.single-product-slide #single-slide-descr .title {
    font-size: 20pt;
    padding: 20px 0;
    font-weight: bold;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.single-product-slide #single-slide-descr .sub-title {
    font-size: 12pt;
    padding: 20px 0 0 0;
    font-weight: bold;
}

.reviews-slider {
    padding: 20px 0;
}

.reviews-slider .slick-track {
    box-sizing: initial;
    padding: 25px 0;
}

.reviews-slider .single-review-slider {
    padding: 15px 30px;
    margin: 0 20px;
    box-shadow: 0px 0px 11px 0px rgb(215, 215, 215) !important;
}

.reviews-slider .single-review-slider img{
    border-radius: 50%;
    position: absolute;
    margin-left: 8%;
    top: 1%;
    border: 5px solid orange;
}

.reviews-slider .single-review-slider p {
    font-size: 14px;
}

.reviews-slider .single-review-slider h4 {
    font-size: 20px;
    margin: 20px 0;
}

.reviews-slider .single-review-slider h5 {
    color: gray;
    font-size: 16px;
    margin: 20px 0;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.mix-width {
    min-width: 1000px;
}

.order-button {
    background-color: orange;
    padding: 10px 5px;
    font-size: 15pt;
    width: 50%;
    color: white;
}

.options-block {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #d8d8d8;
}

.order-button-block {
    display: flex;
    padding: 20px 0 20px 0;
}

.order-button-block div {
    flex: 1;
}

.order-button-block .order-button {
    font-size: 20px;
}

.order-button-block .price-block .price-label {
    font-size: 16px;
}
.order-button-block .price-block .price {
    font-size: 30px;
}

.principle-image-wrapper {
    min-height: 100px;
}

.hide-desctop {
    display: none !important; }

header {
    padding: 27px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9999999; }
header > .container,
header > .container-fluid
{
    display: flex;
    justify-content: space-between;
}
header > .container ul ,
header > .container-fluid ul {
    display: flex;
    align-items: center;
    height: 46px; }
header > .container ul a, header > .container ul button ,
header > .container-fluid ul a, header > .container ul button {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 1.4px;
    color: #484848;
    text-transform: uppercase; }
header > .container .toggle-nav ,
header > .container-fluid .toggle-nav {
    display: none; }
header > .container .right-menu ,
header > .container-fluid .right-menu {
    width: 100%; }
header > .container .right-menu ul li.menu-catalog ,
header > .container-fluid .right-menu ul li.menu-catalog {
    margin-right: 44px;}
header > .container .right-menu ul li.menu-faq ,
header > .container-fluid .right-menu ul li.menu-faq {
    margin-right: auto; }
header > .container .right-menu ul li.menu-login ,
header > .container-fluid .right-menu ul li.menu-login {
    margin-right: 42px; }
header > .container .right-menu ul li.menu-registration ,
header > .container-fluid .right-menu ul li.menu-registration {
    margin-right: 33px; }
header > .container .right-menu ul li.menu-francise a,
header > .container-fluid .right-menu ul li.menu-francise a {
    font-family: Montserrat-Bold, sans-serif;
    font-weight: bold; }
header > .container .right-menu ul li.menu-lang,
header > .container-fluid .right-menu ul li.menu-lang {
    margin-left: 53px;
    text-transform: uppercase;
    position: relative; }
header > .container .right-menu ul li.menu-lang .lang-btn,
header > .container-fluid .right-menu ul li.menu-lang .lang-btn {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 1.4px;
    color: #484848;
    text-transform: uppercase; }
header > .container .right-menu ul li.menu-lang .lang-list,
header > .container-fluid .right-menu ul li.menu-lang .lang-list {
    position: absolute;
    right: -1px;
    top: 20px;
    height: auto;
    display: none; }
header > .container .right-menu ul li.menu-lang .lang-list li,
header > .container-fluid .right-menu ul li.menu-lang .lang-list li {
    margin-left: 0;
    margin-right: 0; }
header > .container .right-menu ul li.menu-lang .lang-list li a,
header > .container-fluid .right-menu ul li.menu-lang .lang-list li a {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 1.4px;
    color: #484848; }
header > .container .right-menu .close,
header > .container-fluid .right-menu .close {
    display: none; }

main {
    margin-top: 103px;
    min-height: calc(100vh - 132px - 103px);
    display: flex;
    align-items: center; }
main .container {
    margin-bottom: 11.5vh; }
main .container h1 {
    font-family: AvenirNextCyr-Heavy, sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    color: #484848; }
main .container h4 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.22;
    color: #484848; }
main .container p {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #484848;
    margin: 15px 0 25px; }
main .container .enter-form {
    max-width: 315px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto; }
main .container .enter-form .switch-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px; }
main .container .enter-form .switch-block .switch-btn {
    opacity: 0.35;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.33;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
    transition: 0s; }
main .container .enter-form .switch-block .switch-btn.active {
    opacity: 1;
    font-family: AvenirNextCyr-Medium, sans-serif;
    font-weight: bold;
    transition: 0s;
    border-bottom: 2px solid #41cc29; }
main .container .enter-form .option {
    position: relative; }
main .container .enter-form .option .sub-text-help {
    position: absolute;
    opacity: 0.35;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #484848;
    position: absolute;
    right: 0;
    top: 8px; }
main .container .enter-form .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(72, 72, 72, 0.35);
    display: block;
    padding: 0 2px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 44px;
    width: 100%;
    position: relative;
    z-index: 9999;
    font-size: 18px;
    font-family: AvenirNextCyr-Regular, sans-serif; }
main .container .enter-form .input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: rgba(72, 72, 72, 0.35); }
main .container .enter-form .input::-moz-placeholder {
    /* Firefox 19+ */
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: rgba(72, 72, 72, 0.35); }
main .container .enter-form .input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: rgba(72, 72, 72, 0.35); }
main .container .enter-form .input:-moz-placeholder {
    /* Firefox 18- */
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: rgba(72, 72, 72, 0.35); }
main .container .enter-form .input.error {
    border-bottom-color: red; }
main .container .enter-form .g-recaptcha {
    transform: scale(1.31);
    transform-origin: 0 0;
    margin-bottom: 40px; }
main .container .enter-form .enter-links {
    display: flex;
    justify-content: space-between; }
main .container .enter-form .enter-links a, main .container .enter-form .enter-links button {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #484848; }
main .container .enter-form .forget-link {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #41cc29;
    margin-top: 30px;
    display: block; }
main.main {
    flex-direction: column; }
main.main .bg-container {
    height: 724px;
    background: url(../img/main-bg.jpg) no-repeat;
    background-position: right center;
    background-size: cover; }
main.main .bg-next-container {
    margin-top: -50px; }
main.main h1 {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 0.88;
    color: #484848;
    margin-bottom: 23px; }
main.main h2 {
    font-family: AvenirNextCyr-Regular, sans-serif;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    font-size: 39px;
    font-weight: normal;
    line-height: 1.36;
    color: #484848; }
main.main h3 {
    font-family: AvenirNextCyr-Medium, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.21;
    color: #484848; }
main.main p {
    font-family: AvenirNextCyr-Light, sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.37;
    margin-bottom: 10px;
    color: #666666;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto; }
main.main a {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; }
main.main .main-block {
    max-width: 630px;
    padding: 15% 0; }
main.main .main-block p {
    max-width: 500px;
    margin-left: 0; }
main.main .main-block a {
    width: 50%;
    display: block;
    margin-top: 25px;
    text-transform: uppercase;
    padding: 15px 0 15px 15px;
    border: 1px solid orange;
    border-radius: 0 50px 50px 0;
    background-color: orange;}
main.main .slider-block .switch-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: -100px;
    z-index: 99999; }
main.main .slider-block .switch-main .switch {
    display: flex;
    align-items: center;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.35); }
main.main .slider-block .switch-main .switch img {
    margin-right: 37px; }
main.main .slider-block .switch-main .switch:first-child {
    margin-right: 87px; }
main.main .slider-block .switch-main .switch.active {
    font-family: AvenirNextCyr-Medium, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 2.5;
    color: #484848; }
main.main .slider-block .switch-main .switch.active span {
    transition: none;
    border-bottom: 2px solid #41cc29;
    white-space: nowrap; }
main.main .slider-block .switch-main .arrow-btn {
    position: absolute;
    top: 357px;
    left: 398px;
    display: flex;
    flex-direction: column;
    z-index: 9999; }
main.main .slider-block .switch-main .arrow-btn button.slick-hidden {
    display: inline-block; }
main.main .slider-block .switch-main .arrow-btn button.next {
    margin-bottom: 21px; }
main.main .slider-block .switch-main .arrow-btn button.slick-disabled {
    opacity: .35; }
main.main .slider-block .slider-wrapper {
    position: relative;
    margin-bottom: 140px; }
main.main .slider-block .slider {
    padding: 0 30px;
    overflow: hidden; }
main.main .slider-block .slider .slick-list {
    overflow: visible; }
main.main .slider-block .slider .slick-track {
    padding: 50px 0; }
main.main .slider-block .slider .slide {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: calc(1180px / 3);
    padding: 40px 30px 34px;
    outline: none; }
main.main .slider-block .slider .slide:hover {
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: none;
    transform: scale(1.01); }
main.main .slider-block .slider .slide:hover p {
    text-decoration: underline; }
main.main .slider-block .slider .slide .flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
main.main .slider-block .slider .slide .title {
    font-family: AvenirNextCyr-Demi, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    color: #484848; }
main.main .slider-block .slider .slide .date {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.86;
    color: #484848; }
main.main .slider-block .slider .slide .options {
    display: flex;
    align-items: flex-start; }
main.main .slider-block .slider .slide .options .option {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: flex-start; }
main.main .slider-block .slider .slide .options .option svg {
    margin-top: -7px;
    margin-right: 11px;
    width: 22px;
    height: 26px; }
main.main .slider-block .slider .slide .options .option svg:last-child {
    margin-right: 0; }
main.main .slider-block .slider .slide .options .option:first-child {
    width: 55%;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: #484848;
    padding-right: 7px; }
main.main .slider-block .slider .slide .options .option:last-child {
    width: 45%;
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #484848; }
main.main .slider-block .slider .slide .options .option a {
    display: flex;
    align-items: center;
    justify-content: center; }
main.main .slider-block .slider .slide .options .option a img {
    margin-left: 7px; }
main.main .slider-block .slider .slide .options.last {
    margin-top: auto; }
main.main .slider-block.robots-slider-block {
    margin: 60px -100px 0;
    padding: 30px 100px; }
main.main .slider-block.robots-slider-block .robots-slider {
    margin-bottom: 25px; }
main.main .slider-block.robots-slider-block .robots-slider .slick-track {
    padding-top: 180px; }
main.main .slider-block.robots-slider-block .slide {
    display: flex;
    outline: none;
    border-bottom: 1px solid #e5e5e5; }
main.main .slider-block.robots-slider-block .slide .info {
    margin-left: 223px;
    margin-bottom: 75px;
    width: 405px;
    height: 515px;
    display: flex;
    flex-direction: column; }
main.main .slider-block.robots-slider-block .slide .title {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.03;
    color: #484848;
    text-align: left;
    margin-bottom: 22px;
    position: relative;
    display: inline-block;
    margin-right: auto;
    text-transform: uppercase; }
main.main .slider-block.robots-slider-block .slide .title .info-btn {
    position: absolute;
    right: -25px;
    top: 0; }
main.main .slider-block.robots-slider-block .slide .title .info-block {
    transition: none;
    display: none;
    width: 307px;
    right: -305px;
    top: -125px;
    padding: 20px 40px 20px 20px;
    position: absolute;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.14);
    background-color: #484848;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: #ffffff;
    border-radius: 10px;
    z-index: 99999999999; }
main.main .slider-block.robots-slider-block .slide .title .info-block:after {
    content: '';
    position: absolute;
    border-color: #484848;
    left: 25px;
    bottom: -20px;
    width: 0;
    height: 0;
    border-top: 10px solid #484848;
    border-left: 15px solid #484848;
    border-bottom: 10px solid transparent;
    border-right: 15px solid transparent; }
main.main .slider-block.robots-slider-block .slide .title .info-block .close-info {
    position: absolute;
    right: 20px;
    top: 16px; }
main.main .slider-block.robots-slider-block .slide .title.title + .options .option:last-child {
    font-family: AvenirNextCyr-Medium, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    color: rgba(0, 0, 0, 0.5); }
main.main .slider-block.robots-slider-block .slide img {
    display: initial;
    padding-left: 5px; }
main.main .slider-block.robots-slider-block .slide .options {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
main.main .slider-block.robots-slider-block .slide .options.last {
    margin-top: auto; }
main.main .slider-block.robots-slider-block .slide .options .options {
    width: 50%; }
main.main .slider-block.robots-slider-block .slide .options .option {
    width: 50%;
    line-height: 22px;
    margin-bottom: 13px; }
main.main .slider-block.robots-slider-block .slide .options .option:first-child {
    font-family: AvenirNextCyr-Medium, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.51);
    margin-right: 12px;
    text-align: left; }
main.main .slider-block.robots-slider-block .slide .options .option:last-child {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #484848;
    text-align: left; }
main.main .slider-block.robots-slider-block .slide .options .option:last-child img {
    margin-top: -8px; }
main.main .slider-block.robots-slider-block .slide .options.column {
    flex-direction: column; }
main.main .slider-block.robots-slider-block .slide .options.column .option {
    width: 100%; }
main.main .slider-block.robots-slider-block .slide .options.column .option:last-child {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 22px;
    color: #484848; }
main.main .slider-block.robots-slider-block .slide .order {
    width: 100%;
    height: 50px;
    background-color: #484848;
    text-align: center;
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 24px; }
main.main .flex {
    position: relative;
    display: flex;
    align-items: center; }
main.main .flex .half {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 45px; }
main.main .flex .half p {
    text-align: left;
    margin-left: 22px;
    font-family: AvenirNextCyr-Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44;
    color: #666666; }
main.main .principle-block {
    padding: 61px 0; }
main.main .principle-block .principle-line {
    position: absolute;
    left: calc((25% - 130px) / 2);
    width: calc(100% - (25% - 130px));
    height: 1px;
    background-color: #e5e5e5;
    top: 65px;
    z-index: 99999; }
main.main .principle-block .flex {
    align-items: flex-start;
    margin-top: 50px; }
main.main .principle-block .principle {
    text-align: center;
    padding: 0 5px;
    z-index: 999999;
    position: relative;
    width: 25%; }
main.main .principle-block .principle img {
    z-index: 99999;
    position: relative;
    margin-bottom: 15px; }
main.main .principle-block .principle .title {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #484848;
    margin-bottom: 10px; }
main.main .principle-block .principle p {
    max-width: 275px;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.64;
    color: #484848;
    margin-top: 0; }
main.main .principle-block .max-width {
    max-width: 610px; }
main.main .reviews-block {
    margin-bottom: 150px; }
main.main .reviews-block h2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
main.main .reviews-block .reviews {
    margin-top: 100px; }
main.main .reviews-block .reviews .review {
    display: flex; }
main.main .reviews-block .reviews .review .img-block .info {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
main.main .reviews-block .reviews .review .img-block .info .name {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.15;
    color: #484848; }
main.main .reviews-block .answers {
    width: 100%;
    margin-top: 79px; }
main.main .reviews-block .answers .answer .toggle-btn {
    width: 100%;
    height: 54px;
    padding: 0 40px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;
    color: #484848;
    margin-bottom: 11px;
    position: relative;
    text-transform: uppercase;
    text-align: left; }
main.main .reviews-block .answers .answer .toggle-btn img {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -4px;
    transform-origin: center; }
main.main .reviews-block .answers .answer .toggle-btn.rotated img {
    transform: rotate(180deg); }
main.main .reviews-block .answers .answer .text {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
    display: none;
    margin: 10px 0 15px;
    transition: none; }
main.main .reviews-block .reviews-wrapper {
    position: relative; }
main.main .reviews-block .arrow-btn {
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center; }
main.main .reviews-block .arrow-btn .prev {
    margin-right: 21px; }
main.main .reviews-block .arrow-btn .slider-number {
    margin-left: 20px;
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    color: #484848; }
main.main .reviews-block .arrow-btn .slick-disabled {
    opacity: .3; }
main.franchise .bg-container {
    height: 600px;
    background-image: url("/data/images/tiki.landing/franchise-bg.jpg");
    background-size: 52%;
    background-position: calc(89.3%);
    padding-top: 160px;
    margin-top: 30px;
    margin-bottom: 100px; }
main.franchise .text-center {
    margin-left: auto;
    margin-right: auto; }
main.franchise h2 {
    line-height: 1.23;
    margin-left: 0;
    max-width: 700px; }
main.franchise p {
    max-width: 800px; }
main.franchise .italic-light {
    font-family: AvenirNextCyr-LightItalic, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.27;
    margin-top: 0;
    text-align: center;
    color: rgba(102, 102, 102, 0.55);
    max-width: 590px; }
main.franchise .career-table-wrapper {
    margin-top: 50px;
    margin-bottom: 40px; }
main.franchise .career-table-wrapper .career-table {
    width: 100%; }
main.franchise .career-table-wrapper .career-table th {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.67;
    color: #484848;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 16px; }
main.franchise .career-table-wrapper .career-table td {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #484848;
    height: 41px;
    line-height: 41px;
    padding: 0 16px; }
main.franchise .career-table-wrapper .career-table td b {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-weight: bold; }
main.franchise .career-table-wrapper .career-table tr:nth-child(even) td {
    background-color: #f5f5f5; }
main.franchise .career-table-wrapper.tariff th {
    border-bottom: none;
    padding: 10px 16px; }
main.franchise .career-table-wrapper.tariff tr:nth-child(odd) td {
    background-color: #f5f5f5; }
main.franchise .career-table-wrapper.tariff tr:nth-child(even) td {
    background-color: transparent; }
main.franchise .career-table-wrapper.tariff tr.level-tr {
    border-bottom: 11px solid #ffffff; }
main.franchise .career-table-wrapper.tariff tr.level-tr td {
    height: 24px;
    line-height: 24px; }
main.franchise .career-table-wrapper.tariff tr td.green {
    background-color: transparent;
    padding-right: 0; }
main.franchise .career-table-wrapper.tariff tr td.green span {
    background-color: #aad877;
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center; }
main.franchise .career-table-wrapper.tariff tr td.blue {
    background-color: transparent;
    padding-right: 0; }
main.franchise .career-table-wrapper.tariff tr td.blue span {
    background-color: #a5cdff;
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center; }
main.franchise .career-table-wrapper.tariff tr td.red {
    background-color: transparent;
    padding-right: 0; }
main.franchise .career-table-wrapper.tariff tr td.red span {
    background-color: #ff8087;
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center; }
main.franchise .img-block {
    margin-top: 45px;
    margin-bottom: 65px;
    position: relative;
    display: inline-block; }
main.franchise .img-block img {
    display: block; }
main.franchise .img-block .title {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.67;
    color: #484848;
    text-align: center;
    width: 130px;
    white-space: nowrap; }
main.franchise .img-block .title .sub-title {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 2.14;
    color: #484848; }
main.franchise .img-block.first-block {
    margin-bottom: 85px; }
main.franchise .img-block.first-block .middle {
    position: absolute;
    top: 152px;
    left: calc(50% - 130px/2); }
main.franchise .img-block.first-block .left {
    position: absolute;
    bottom: -81px;
    left: -8px; }
main.franchise .img-block.first-block .right {
    position: absolute;
    bottom: -81px;
    right: 0; }
main.franchise .img-block.second-block .left {
    left: 0; }
main.franchise .img-block.third-block {
    margin-top: 55px;
    margin-bottom: 40px; }
main.franchise .img-block.third-block .title {
    position: absolute;
    top: -72px;
    width: calc(69.2px + 8.7px + 69.2px); }
main.franchise .img-block.third-block .first-left {
    left: 5px; }
main.franchise .img-block.third-block .second-left {
    left: calc(8px + 147px); }
main.franchise .img-block.third-block .second-right {
    right: calc(8px + 147px); }
main.franchise .img-block.third-block .first-right {
    right: 3px; }
main.franchise .img-block.fourth-block .title {
    position: absolute;
    left: 44px;
    bottom: 26px;
    width: 160px;
    text-align: center; }
main.franchise .img-block.fourth-block .title .sub-title {
    line-height: 1.29; }
main.franchise .plus-img {
    margin-top: 25px;
    margin-bottom: 25px; }
main.franchise .supermarket-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 30px; }
main.franchise .supermarket-block .block {
    width: calc(100%/3);
    margin-top: 25px;
    margin-bottom: 50px; }
main.franchise .supermarket-block .block .img {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center; }
main.franchise .supermarket-block .block .text {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.67;
    color: #484848;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto; }
main.franchise .no-mrg-top {
    margin-top: 0; }
main.franchise .mrg-btm {
    margin-bottom: 40px; }
main.card .bg-next-container {
    margin-bottom: 0; }
main.card .slider-block .switch-main .switch {
    line-height: 2; }
main.card .slider-block .switch-main .switch img {
    width: 33px;
    margin-right: 23px; }
main.card .slider-block .switch-main .switch.active {
    line-height: 2; }
main.card .slider-block.robots-slider-block .slide .title .info-block {
    text-transform: none;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: #ffffff; }
main.card .enter-form {
    margin-left: 0;
    max-width: 300px; }
main.card .slider-block .switch-main {
    justify-content: flex-start; }
main.card .slider-block.robots-slider-block .slide {
    border-bottom: none; }
main.card .slider-block.robots-slider-block .slide .info .text-center {
    margin-left: 0; }
main.card .desc-slider h3 {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-weight: bold; }
main.card .desc-slider .info-switch {
    display: none; }
main.card .desc-slider .info-switch.active {
    display: block; }
main.card .desc-slider .slide {
    outline: none; }
main.card .career-table-wrapper {
    margin-top: 0; }
main.card .career-table-wrapper .career-table {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
main.card .career-table-wrapper .career-table td img {
    vertical-align: middle;
    display: initial; }
main.faq {
    margin-top: 125px; }
main.faq .flex {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px; }
main.faq .flex aside {
    width: 300px;
    flex: 0 0 300px;
    margin-right: 32px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 12px 0; }
main.faq .flex aside .left-menu li {
    margin-bottom: 12px; }
main.faq .flex aside .left-menu li a {
    opacity: 0.35;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    height: 45px;
    line-height: 1.22;
    color: #484848;
    display: flex;
    align-items: center;
    padding: 0 20px; }
main.faq .flex aside .left-menu li a.active {
    opacity: 1;
    border-left: 4px solid #41cc29; }
main.faq .flex aside .left-menu li a:hover {
    opacity: 1; }
main.faq .flex .main {
    padding-top: 13px; }
main.faq .flex .main .answers {
    display: none; }
main.faq .flex .main .answers.active {
    display: block; }
main.faq .flex .main p {
    max-width: 100%;
    margin: 10px 0;
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.22;
    color: #484848; }
main.faq .flex .main p b {
    font-family: AvenirNextCyr-Demi, sans-serif; }
main.faq .flex .main p a {
    font-family: inherit; }
main.faq .flex .main img {
    max-width: 100%; }
main.faq .flex .main img + img {
    margin-top: 22px; }

.register-page main .container {
    margin-bottom: 21.8vh; }
.register-page main .container p {
    margin: 15px 0; }
.register-page main .container .enter-form .enter-links {
    justify-content: center; }
.register-page main .container .enter-form .help-text {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    text-align: center;
    color: #484848;
    margin-top: 30px; }
.register-page main .container .enter-form .help-text .forget-link {
    display: inline; }

.restore-page main .container {
    margin-bottom: 36.7vh; }
.restore-page main .container .sended {
    display: none; }
.restore-page main .container .enter-form .enter-links {
    justify-content: center; }

.updated-page main .container {
    margin-bottom: 46vh; }
.updated-page main .container .sended {
    display: none; }
.updated-page main .container .enter-form .enter-links {
    justify-content: center; }

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 9999999999;
    transition: 0s;
    display: none; }
.popup-wrapper .popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 61px 68px;
    max-width: 450px;
    background-color: #ffffff;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.14); }
.popup-wrapper .popup .close-btn {
    position: absolute;
    top: 34px;
    right: 32px; }
.popup-wrapper .popup .popup-body .title {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.07;
    color: #484848;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px rgba(42, 42, 47, 0.1);
    margin-bottom: 18px; }
.popup-wrapper .popup .popup-body p {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    color: #484848; }
.popup-wrapper .popup .popup-body .sbmt-btn {
    font-family: AvenirNextCyr-Bold, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #484848;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 10px auto 25px; }
.popup-wrapper .popup .popup-body .sbmt-btn img {
    margin-left: 5px;
    margin-bottom: -1px; }
.popup-wrapper .popup .popup-body .options {
    display: flex;
    align-items: center;
    flex-direction: column; }
.popup-wrapper .popup .popup-body .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 5px 10px;
    width: 100%;
    border: none;
    height: 30px;
    line-height: 30px;
    margin: 25px 0 10px;
    border-bottom: solid 1px rgba(72, 72, 72, 0.36);
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #484848; }
.popup-wrapper .popup .popup-body .input::-webkit-input-placeholder {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: rgba(72, 72, 72, 0.35); }
.popup-wrapper .popup .popup-body .input::-moz-placeholder {
    /* Firefox 19+ */
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: rgba(72, 72, 72, 0.35); }
.popup-wrapper .popup .popup-body .input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: rgba(72, 72, 72, 0.35); }
.popup-wrapper .popup .popup-body .input:-moz-placeholder {
    /* Firefox 18- */
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: rgba(72, 72, 72, 0.35); }

.green-text {
    color: #41cc29; }

u {
    text-underline-position: under; }

.alert-danger, .help-block {
    font-family: AvenirNextCyr-Regular, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fe0000;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse; }

.help-block {
    position: absolute;
    bottom: -35px;
    right: 0;
    text-align: right; }

.form-group {
    position: relative; }

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1000px; }
    main.main .principle-block .principle .title {
        line-height: normal;
        height: 44px; }
    main.main .slider-block .slider {
        padding: 0 20px; }
    main.main .slider-block .slider .slide {
        padding: 30px 20px 20px;
        width: calc(940px / 3); }
    main.main .slider-block .slider .slide p {
        font-size: 16px; }
    main.main .reviews-block .answers .answer .toggle-btn {
        font-size: 16px; } }

@media screen and (max-width: 1300px) {
    .container {
        max-width: 992px; }
    .container.bg-next-container {
        max-width: 100%; }
    main.main .slider-block .switch-main {
        max-width: 992px;
        margin-left: auto;
        margin-right: auto; }
    main.main .slider-block .switch-main .arrow-btn {
        left: 355px; }
    main.main .slider-block.robots-slider-block {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0; }
    main.main .slider-block.robots-slider-block .robots-slider {
        max-width: 992px;
        margin-right: auto;
        margin-left: auto; }
    main.main .slider-block.robots-slider-block .robots-slider + .flex {
        max-width: 992px;
        margin-left: auto;
        margin-right: auto; }
    main.main .slider-block.robots-slider-block .slide .info {
        margin-left: 150px; } }

@media screen and (max-width: 1024px) {
    .container {
        max-width: 768px;
        padding: 0 15px; }
    main.main .bg-container {
        margin-top: 40px;
        height: auto; }
    main.main .bg-next-container {
        margin-top: 0;
        margin-bottom: 50px; }
    main.main .slider-block .slider-wrapper {
        margin-bottom: 70px; }
    main.main .slider-block .switch-main {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto; }
    main.main .slider-block .switch-main .arrow-btn {
        left: 330px;
        top: 350px; }
    main.main .slider-block .slider .slide {
        height: 420px; }
    main.main .slider-block .slider .slick-track {
        padding-bottom: 70px; }
    main.main .slider-block.robots-slider-block .robots-slider {
        max-width: 768px; }
    main.main .slider-block.robots-slider-block .robots-slider + .flex {
        max-width: 768px; }
    main.main .slider-block.robots-slider-block .robots-slider + .flex .half {
        padding-right: 40px; }
    main.main .slider-block.robots-slider-block .robots-slider + .flex .half p {
        font-size: 14px;
        line-height: 1.2; }
    main.main .slider-block.robots-slider-block .slide .title.title + .options .option:last-child {
        font-size: 16px; }
    main.main .slider-block.robots-slider-block .slide .options .option:first-child {
        font-size: 16px; }
    main.main .slider-block.robots-slider-block .slide .options .option:last-child {
        font-size: 16px; }
    main.main .slider-block.robots-slider-block .slide .options.column .option:last-child {
        font-size: 24px; }
    main.main .slider-block.robots-slider-block .slide .info {
        margin-left: 100px;
        width: 100%; }
    main.main .principle-block .principle .title {
        font-size: 16px; }
    main.main .principle-block .principle p {
        font-size: 12px; }
    main.main .reviews-block .answers {
        margin-top: 40px; }
    main.main .reviews-block .answers .answer .toggle-btn {
        line-height: normal; }
    main.franchise .bg-container {
        padding-top: 0;
        padding-bottom: 28%;
        background-position: calc(100% - 768px/2 + 30px) bottom; }
    main.franchise .container {
        margin-bottom: 50px; }
    main.franchise .supermarket-block .block .text {
        font-size: 14px;
        line-height: 1.3; }
    main.franchise .career-table-wrapper.tariff th {
        font-size: 14px;
        padding: 10px;
        line-height: normal; }
    main.franchise .career-table-wrapper .career-table th {
        line-height: normal; }
    main.franchise .career-table-wrapper .career-table td {
        font-size: 14px;
        padding-left: 10px;
        line-height: normal;
        padding-top: 5px;
        padding-bottom: 5px; }
    main.franchise .img-block.third-block .first-left {
        left: 2px; }
    main.franchise .img-block.fourth-block .title br {
        display: block; }
    br {
        display: none; } }

@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none !important; }
    .hide-desctop {
        display: block !important; }
    .block-center-mobile {
        margin-left: auto;
        margin-right: auto; }
    header {
        padding: 18px 0;
        margin-bottom: 50px; }
    header .container .left-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
    header .container .left-menu img {
        width: 61px; }
    header .container .left-menu .toggle-nav {
        display: block;
        position: relative;
        height: 16px;
        width: 16px; }
    header .container .left-menu .toggle-nav span {
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: #36383a; }
    header .container .left-menu .toggle-nav span:nth-child(1) {
        top: 0; }
    header .container .left-menu .toggle-nav span:nth-child(2) {
        top: 5px; }
    header .container .left-menu .toggle-nav span:nth-child(3) {
        top: 10px;
        width: 50%; }
    header .container .right-menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #262626;
        flex-direction: column;
        display: none;
        transition: none;
        z-index: 99999999; }
    header .container .right-menu.active {
        display: flex; }
    header .container .right-menu .close {
        display: block;
        position: absolute;
        top: 22px;
        right: 17px; }
    header .container .right-menu ul {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto; }
    header .container .right-menu ul li {
        margin: 10px 0 !important;
        order: 1; }
    header .container .right-menu ul li a {
        font-family: AvenirNextCyr-Regular, sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 4.08;
        color: #ffffff; }
    header .container .right-menu ul li.menu-catalog {
        order: 5; }
    header .container .right-menu ul li.menu-francise a {
        font-family: AvenirNextCyr-Regular, sans-serif;
        font-weight: normal; }
    header .container .right-menu ul li.menu-lang {
        order: 5; }
    header .container .right-menu ul li.menu-lang a, header .container .right-menu ul li.menu-lang .lang-btn {
        font-family: AvenirNextCyr-Regular, sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 4.08;
        color: #ffffff; }
    header .container .right-menu ul li.menu-lang {
        position: absolute;
        left: 17px;
        top: -3px; }
    header .container .right-menu ul li.menu-lang .lang-list {
        top: 0;
        left: 0; }
    header .container .right-menu ul li.menu-lang .lang-list li {
        display: initial;
        position: initial; }
    header .container .right-menu ul li.menu-lang .lang-list li a {
        font-family: AvenirNextCyr-Regular, sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 2;
        color: #ffffff; }
    main {
        padding-bottom: 80px; }
    main .container {
        margin-bottom: 0; }
    main .container h1 {
        font-size: 19px; }
    main .container .enter-form .option .sub-text-help {
        top: 13px; }
    main .container .enter-form .input {
        margin-bottom: 20px; }
    main .container .enter-form .g-recaptcha {
        transform: scale(1);
        margin-bottom: 16px; }
    main .container .enter-form .switch-block {
        margin-bottom: 35px; }
    main .container .enter-form .switch-block .switch-btn {
        font-size: 12px; }
    main .container .enter-form .enter-links a, main .container .enter-form .enter-links button {
        font-size: 12px; }
    main .container .enter-form .enter-links a img, main .container .enter-form .enter-links button img {
        width: 5px; }
    main .container .enter-form .forget-link {
        font-size: 11px;
        margin-top: 20px; }
    main.main {
        margin-top: 40px; }
    main.main h1 {
        font-family: AvenirNextCyr-Regular, sans-serif;
        font-size: 27px;
        font-weight: normal;
        line-height: 0.89;
        color: #484848; }
    main.main h2 {
        font-size: 19px; }
    main.main p {
        font-size: 12px; }
    main.main .bg-container {
        background-position: 50% 200px;
        background-size: cover;
        background-image: url("/data/images/tiki.landing/main-bg-mobile.svg"); }
    main.main .main-block {
        padding-bottom: 134px; }
    main.main .main-block p {
        font-family: AvenirNextCyr-Light, sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.25;
        color: #666666; }
    main.main .main-block a {
        font-size: 12px;
        font-weight: bold;
        color: #484848; }
    main.main .main-block a img {
        margin-bottom: -1px; }
    main.main .slick-slider + .flex {
        width: calc(100vw - 100px);
        min-width: 254px;
        flex-direction: column;
        background-color: #fbfbfb;
        padding: 15px 10px;
        margin-top: 11px; }
    main.main .slick-slider + .flex .half {
        padding-right: 0 !important;
        width: 100%;
        max-width: 290px;
        align-items: flex-start; }
    main.main .slick-slider + .flex .half .img {
        flex: 0 0 30px; }
    main.main .slick-slider + .flex .half:first-child .img img {
        max-width: 23px; }
    main.main .slick-slider + .flex .half:last-child .img img {
        max-width: 30px; }
    main.main .slick-slider + .flex .half p {
        font-size: 10px !important;
        margin-left: 13px;
        margin-top: 0; }
    main.main .principle-block {
        padding-top: 0;
        padding-bottom: 0; }
    main.main .principle-block .flex {
        flex-direction: column;
        align-items: center;
        justify-content: center; }
    main.main .principle-block .principle-line {
        position: absolute;
        left: calc(((100% - 290px) /2) + 92px / 2);
        width: 1px;
        height: calc(110px * 3 + 92px + 40px * 3);
        background-color: #e5e5e5;
        top: 0; }
    main.main .principle-block .principle {
        width: 290px;
        height: 110px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 40px;
        padding: 0; }
    main.main .principle-block .principle:nth-child(4) {
        margin-bottom: 0; }
    main.main .principle-block .principle img {
        width: 92px;
        margin-bottom: 0; }
    main.main .principle-block .principle .info {
        margin-left: 10px; }
    main.main .principle-block .principle .title {
        text-align: left;
        font-size: 12px;
        height: auto;
        margin-bottom: 5px; }
    main.main .principle-block .principle p {
        text-align: left;
        font-size: 10px;
        margin-bottom: 0; }
    main.main .slider-block .slider-wrapper {
        margin-bottom: 0; }
    main.main .slider-block .slider .slick-track {
        padding-top: 25px; }
    main.main .slider-block .slider .slide {
        padding: 20px 10px;
        margin-top: 30px;
        width: 250px;
        height: 422px;
        box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        margin-right: 7px;
        margin-left: 7px; }
    main.main .slider-block .slider .slide .flex {
        align-items: center; }
    main.main .slider-block .slider .slide .title {
        font-family: AvenirNextCyr-Bold, sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.86;
        color: #484848; }
    main.main .slider-block .slider .slide .date {
        font-size: 10px; }
    main.main .slider-block .slider .slide p {
        font-size: 12px; }
    main.main .slider-block .switch-main {
        display: flex;
        flex-direction: column;
        margin-bottom: 0; }
    main.main .slider-block .switch-main .arrow-btn {
        display: none; }
    main.main .slider-block .switch-main .switch {
        display: flex;
        flex-direction: column; }
    main.main .slider-block .switch-main .switch img {
        width: 40px;
        margin-right: auto;
        margin-left: auto; }
    main.main .slider-block .switch-main .switch span {
        font-size: 14px;
        font-family: AvenirNextCyr-Medium, sans-serif;
        font-weight: 500;
        line-height: 2.36;
        color: #484848; }
    main.main .slider-block .switch-main .switch.active span {
        border-bottom: none; }
    main.main .slider-block .switch-main .switch:first-child {
        margin-right: 0; }
    main.main .slider-block.robots-slider-block {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
        margin-left: 0;
        margin-right: 0;
        background: none;
        margin-top: 0; }
    main.main .slider-block.robots-slider-block .slick-list {
        padding: 0 !important; }
    main.main .slider-block.robots-slider-block .robots-slider .slick-track {
        padding-top: 34px; }
    main.main .slider-block.robots-slider-block .robots-slider .slide {
        width: calc(100vw - 100px);
        min-width: 254px;
        height: 653px; }
    main.main .slider-block.robots-slider-block .robots-slider .slide:nth-child(1), main.main .slider-block.robots-slider-block .robots-slider .slide:nth-child(2), main.main .slider-block.robots-slider-block .robots-slider .slide:nth-child(3) {
        display: none; }
    main.main .slider-block.robots-slider-block .robots-slider .slide .options.last {
        margin-top: auto; }
    main.main .slider-block.robots-slider-block .robots-slider + .flex {
        margin-left: 0; }
    main.main .slider-block.robots-slider-block .robots-slider2 .slide {
        width: calc(100vw - 100px);
        min-width: 254px;
        height: 585px; }
    main.main .slider-block.robots-slider-block .slide {
        background-color: #fbfbfb;
        flex-direction: column-reverse;
        width: calc(100vw - 100px);
        min-width: 254px;
        margin: 0 15px 0 0;
        border-bottom: none;
        position: relative; }
    main.main .slider-block.robots-slider-block .slide .order {
        font-size: 12px; }
    main.main .slider-block.robots-slider-block .slide .options.last {
        margin-top: auto; }
    main.main .slider-block.robots-slider-block .slide .options .option:first-child {
        font-size: 12px;
        line-height: 1;
        margin-bottom: 7px;
        width: 55%;
        margin-right: 2px; }
    main.main .slider-block.robots-slider-block .slide .options .option:last-child {
        font-size: 12px;
        line-height: 1;
        margin-bottom: 7px;
        width: 45%; }
    main.main .slider-block.robots-slider-block .slide .options .option:last-child img {
        width: 13px; }
    main.main .slider-block.robots-slider-block .slide .options .options.column:first-child {
        width: 40%; }
    main.main .slider-block.robots-slider-block .slide .options .options.column:last-child {
        width: 60%; }
    main.main .slider-block.robots-slider-block .slide .options .options.column:last-child .option {
        width: 100%; }
    main.main .slider-block.robots-slider-block .slide .options .options.column .option:first-child {
        margin-bottom: 0;
        width: 100%; }
    main.main .slider-block.robots-slider-block .slide .options .options.column .option:last-child {
        margin-bottom: 15px;
        font-size: 16px; }
    main.main .slider-block.robots-slider-block .slide .title {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 8px; }
    main.main .slider-block.robots-slider-block .slide .title .info-btn {
        right: -18px; }
    main.main .slider-block.robots-slider-block .slide .title .info-btn img {
        width: 10px; }
    main.main .slider-block.robots-slider-block .slide .title .info-block {
        width: 250px;
        padding: 15px 40px 15px 15px;
        top: -100px;
        right: -240px;
        font-size: 10px; }
    main.main .slider-block.robots-slider-block .slide .title .info-block br {
        display: none; }
    main.main .slider-block.robots-slider-block .slide .title.title + .options .option:last-child {
        width: 100%;
        margin-right: 0;
        font-size: 12px;
        line-height: 1; }
    main.main .slider-block.robots-slider-block .slide .img {
        position: absolute;
        bottom: 188px;
        left: calc(50% - 72px); }
    main.main .slider-block.robots-slider-block .slide .img img {
        width: 140px; }
    main.main .slider-block.robots-slider-block .slide .info {
        margin-left: 0;
        padding: 24px 10px;
        margin-bottom: 0;
        height: 100%; }
    main.main .slider-block .slick-track {
        padding-top: 34px; }
    main.main .reviews-block {
        padding: 0;
        margin-bottom: 0; }
    main.main .reviews-block .arrow-btn {
        display: none; }
    main.main .reviews-block .slider-block .slick-track {
        padding-top: 0; }
    main.main .reviews-block .answers {
        padding: 0 15px;
        margin-top: 20px; }
    main.main .reviews-block .answers .answer .toggle-btn {
        font-size: 9px;
        height: 34px;
        padding: 0 30px 0 8px; }
    main.main .reviews-block .answers .answer .toggle-btn img {
        right: 10px; }
    main.franchise a {
        font-size: 14px; }
    main.franchise h3 {
        line-height: normal;
        font-size: 14px; }
    main.franchise p {
        font-size: 12px; }
    main.franchise .main-block {
        padding-bottom: 0; }
    main.franchise .supermarket-block {
        flex-direction: column;
        align-items: center; }
    main.franchise .supermarket-block .block {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 10px; }
    main.franchise .supermarket-block .block br {
        display: block; }
    main.franchise .bg-container {
        background-image: url("/data/images/tiki.landing/franchise-bg.jpg");
        background-size: 70%;
        background-position: 16px bottom;
        padding-bottom: 40%;
        margin-bottom: 50px; }
    main.franchise .career-table-wrapper {
        overflow: auto; }
    main.franchise .career-table-wrapper .career-table {
        width: 768px; }
    main.franchise .career-table-wrapper .career-table th {
        font-size: 14px;
        padding-left: 10px; }
    main.franchise .career-table-wrapper .career-table td {
        font-size: 12px; }
    main.franchise .img-block .franchise-img {
        width: 290px; }
    main.franchise .img-block .title {
        width: 100px;
        font-size: 10px; }
    main.franchise .img-block .title .sub-title {
        font-size: 7px; }
    main.franchise .img-block.first-block {
        margin-bottom: 55px; }
    main.franchise .img-block.first-block .middle {
        top: 54px;
        left: calc(50% - 100px/2); }
    main.franchise .img-block.first-block .left {
        left: -25px;
        bottom: -33px; }
    main.franchise .img-block.first-block .right {
        right: -25px;
        bottom: -33px; }
    main.franchise .img-block.first-block.second-block {
        margin-bottom: 35px; }
    main.franchise .img-block.third-block {
        margin-top: 35px; }
    main.franchise .img-block.third-block .title {
        width: auto; }
    main.franchise .img-block.third-block .first-left {
        top: -35px;
        left: 18px; }
    main.franchise .img-block.third-block .second-left {
        top: -35px;
        left: 65px; }
    main.franchise .img-block.third-block .first-right {
        top: -35px;
        right: 16px; }
    main.franchise .img-block.third-block .second-right {
        top: -35px;
        right: 65px; }
    main.franchise .img-block.fourth-block img {
        width: 100%; }
    main.franchise .img-block.fourth-block .title {
        display: none; }
    main.franchise .italic-light {
        font-size: 9px; }
    main.franchise .mobile-img {
        width: 100%; }
    .container {
        max-width: 100%; }
    .popup-wrapper .popup {
        max-width: 100%;
        height: 100%;
        width: 100%;
        padding: 50px 30px; }
    .popup-wrapper .popup .close-btn {
        top: 15px;
        right: 15px; }
    .popup-wrapper .popup .popup-body .title {
        margin-bottom: 10px; }
    .popup-wrapper .popup .popup-body .sbmt-btn {
        font-size: 14px;
        margin-bottom: 15px; }
    .popup-wrapper .popup .popup-body p {
        font-size: 12px; } }

@media screen and (min-width: 768px) {
    .show-mobile {
        display: none !important; } }