$max_width: 105em; // 1680px
$max_width_m: 96em; // 1320px

$one_px_em: 0.063em; // 1px
$mq_sm: 36em; // 576px
$mq_md: 48em; // 768px
$mq_lg: 62em; // 992px
$mq_xl: 75em; // 1200px

@mixin layout_max_width($w: $max_width) {
  max-width: $w;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin flex_1($basis: auto) {
  flex: 1 0 $basis; // IE needs `flex-basis`
}
